openapi: 3.0.1
info:
  title: Pinnacle - Customer API Reference
  description: >

    # Authentication 


    API uses HTTP Basic access authentication. You need to send Authorization
    HTTP Request header:  


    `Authorization: Basic <Base64 value of UTF-8 encoded "username:password">`


    Example:


    `Authorization: Basic U03MyOT23YbzMDc6d3c3O1DQ1`
  version: 1.0.0
  x-logo:
    url: >-
      https://avatars2.githubusercontent.com/u/31601407?s=400&u=f3c6e1cfc8a26665e4a4df6d8da4a7ee527aeceb&v=4
servers:
  - url: 'https://api.pinnacle.com/'
security:
  - basicAuth: []
paths:
  /v1/client/balance:
    get:
      tags:
        - Client Balance
      summary: Get Client Balance - v1
      description: Returns current client balance.
      operationId: Client_Balance_V1_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientBalanceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ClientBalanceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClientBalanceResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClientBalanceResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
      deprecated: false
  /v1/translations:
    get:
      tags:
        - Get Translations
      summary: Get Translations - v1
      description: >
        Returns language translations.  


        Example to translate `football` and `soccer` to German and French
        language: 

          ```
          
          https://api.pinnacle.com/v1/translations?cultureCodes=de-DE|fr-FR&baseTexts=Football|Soccer
          

          ```
          ## Supported languages 
          
          | Language   | Culture |
          |------------|---------|
          | English    | en-US   |
          | British    | en-GB   |
          | ChineseSI  | zh-CN   |
          | ChineseTR  | zh-TW   |
          | Finnish    | fi-FI   |
          | German     | de-DE   |
          | Hebrew     | he-IL   |
          | Italian    | it-IT   |
          | Norwegian  | nb-NO   |
          | Portuguese | pt-BR   |
          | Russian    | ru-RU   |
          | Spanish    | es-ES   |
          | Swedish    | sv-SE   |
          | Thai       | th-TH   |
          | Polish     | pl-PL   |
          | French     | fr-FR   |
          | Japanese   | ja-JP   |
          | Korean     | ko-KR   |
          | Vietnamese | vi-VN   |
          | Indonesian | id-ID   |
          | Czech      | cs-CZ   |
          
          
      operationId: Translations_V1_Get
      parameters:
        - name: cultureCodes
          in: query
          description: Array of language cultures separated with |.
          required: true
          style: pipeDelimited
          schema:
            type: array
            items:
              type: string
        - name: baseTexts
          in: query
          description: >-
            Array of base texts to be translated separated with |. Each base
            text in the array must be URL encoded. Base texts are not case
            sensitive.
          required: true
          style: pipeDelimited
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
  /v2/bets/straight:
    post:
      tags:
        - Place Bets
      summary: Place straight bet  - v2
      description: >
        Place straight bet (SPREAD, MONEYLINE, TOTAL_POINTS, TEAM_TOTAL_POINTS).


        Please note when the status is PENDING_ACCEPTANCE and if the live delay
        was applied, the response will not have betId. Client would have to call
        /bets by uniqueRequestId to check the status if the bet was ACCEPTED. 
        For more details please see [How to place a bet on live
        events?](https://github.com/pinnacleapi/pinnacleapi-documentation/blob/master/FAQ.md#how-to-place-a-bet-on-live-events)


        Make sure you handle properly the case of an unexpected error as per
         [How to handle error on placing a bet?](https://github.com/pinnacleapi/pinnacleapi-documentation/blob/master/FAQ.md#how-to-handle-unexpected-error-on-placing-a-bet)
      operationId: Bets_StraightV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBetRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceBetResponseV2'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithErrorRef'
      x-codegen-request-body-name: request
  /v1/bets/special:
    post:
      tags:
        - Place Bets
      summary: Place specials bet.
      description: |

        Make sure you handle properly the case of an unexpected error as per
         [How to handle error on placing a bet?](https://github.com/pinnacleapi/pinnacleapi-documentation/blob/master/FAQ.md#how-to-handle-unexpected-error-on-placing-a-bet)
      operationId: Bets_Special
      requestBody:
        description: The SpecialBet request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiBetRequest.SpecialBetRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiBetResponse.SpecialBetResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithErrorRef'
      x-codegen-request-body-name: request
  /v3/bets:
    get:
      tags:
        - Get Bets
      summary: Get Bets - v3
      description: >
        Returns bets. 



        ### Get running bets by time range:

        ```

        https://api.pinnacle.com/v3/bets?betlist=RUNNING&fromDate=2017-11-21T00:00:00Z&toDate=2017-11-29T00:00:00Z

        ```

        Running bets are queried by *placedAt* date time



        ### Get settled bets by time range:
          
        ```

        https://api.pinnacle.com/v3/bets?betlist=SETTLED&fromDate=2015-12-28T00:00:00Z&toDate=2015-12-29T00:00:00Z

        ```

        Settled bets are queried by *settledAt* date time

        https://api.pinnacle.com/v3/bets?betlist=SETTLED&fromDate=2017-11-20T00:00:00Z&toDate=2017-11-23T00:00:00Z



        ### Get settled cancelled bets by time range:
          
        ```

        https://api.pinnacle.com/v3/bets?betList=SETTLED&fromDate=2018-03-01&toDate=2018-03-28&betStatuses=CANCELLED

        ```



        ### Get bets by bet ids:


        ```

        https://api.pinnacle.com/v3/bets?betIds=775856112,775856113,775856114

        ```


        ### Get bets by uniqueRequestIds:


        ```

        https://api.pinnacle.com/v3/bets?uniqueRequestIds=62335222-dae4-479a-8c05-46440ccdd3bb,42335222-dae4-479a-8c05-46440ccdd3bb

        ```
      operationId: Bets_GetBetsByTypeV3
      parameters:
        - name: betlist
          in: query
          description: Type of bet list to return. Not needed when betids is submitted.
          schema:
            type: string
            enum:
              - SETTLED
              - RUNNING
              - ALL
        - name: betStatuses
          in: query
          description: >-
            Type of bet statues to return. This works only in conjustion with
            betlist, as additional filter.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - WON
                - LOSE
                - CANCELLED
                - REFUNDED
                - NOT_ACCEPTED
                - ACCEPTED
                - PENDING_ACCEPTANCE
        - name: fromDate
          in: query
          description: >
            Start date of the requested period. Required when betlist parameter
            is submitted. Start date can be up to 30 days in the past. Expected
            format is ISO8601 - can be set to just date or date and time.
          schema:
            type: string
        - name: toDate
          in: query
          description: >
            End date of the requested period. Required when betlist parameter is
            submitted. Expected format is ISO8601 - can be set to just date or
            date and time.  toDate value is exclusive, meaning it cannot be
            equal to fromDate.
          schema:
            type: string
        - name: sortDir
          in: query
          description: >-
            Sort direction by postedAt/settledAt. Respected only when querying
            by date range.
          schema:
            type: string
            default: ASC
            enum:
              - ASC
              - DESC
        - name: pageSize
          in: query
          description: >-
            Page size in case. Max is 1000. Respected only when querying by date
            range.
          schema:
            type: integer
            default: 1000
        - name: fromRecord
          in: query
          description: >-
            Starting record (inclusive) of the result. Respected only when
            querying by date range. To fetch next page set it to toRecord+1 
          schema:
            type: integer
            default: 0
        - name: betids
          in: query
          description: >-
            A comma separated list of bet ids. When betids is submitted, no
            other parameter is necessary. Maximum is 100 ids. Works for all non
            settled bets and all bets settled in the last 30 days.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: uniqueRequestIds
          in: query
          description: >
            A comma separated list of `uniqueRequestId` from the place bet
            request. If specified, it's highest priority, all other parameters
            are ignored. Maximum is 10 ids. If client has bet id, preferred way
            is to use `betIds` query parameter, you can use `uniqueRequestIds`
            when you do not  have bet id. 

            That are 2 cases when client may not have a bet id:


            1. When you bet on live event with live delay, place bet response in
            that case does not return bet id, so client can query bet status by
            `uniqueRequestIds`.

            2. In case of any network issues when client is not sure what
            happened with his place bet request. Empty response means that the
            bet was not placed. Please check [Deduplication
            section](https://www.pinnacle.com/de/api/manual#overview) for more
            details.


            Note that there is a restriction: querying by uniqueRequestIds  is
            supported for straight and  special bets and only up to 30 min from
            the moment the bet was place. 
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBetsByTypeResponseV3'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithErrorRef'
  /v1/bets/betting-status:
    get:
      tags:
        - Betting Status
      summary: Get Betting Status
      description: >-
        Returns current betting status. During maintenance windows betting could
        be disabled, you can call this operation to check the current betting
        status.
      operationId: Bets_GetBettingStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingStatusResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithErrorRef'
  /v1/fixtures:
    get:
      tags:
        - Fixtures
      summary: Get Fixtures - v1
      description: >-
        Returns all **non-settled** events for the given sport. Please note that
        it is possible that the event is in Get Fixtures response but not in Get
        Odds. This happens when the odds are not currently available for
        wagering. Please note that it is possible to receive the same exact
        response when using **since** parameter. This is rare and can be caused
        by internal updates of event properties.
      operationId: Fixtures_V1_Get
      parameters:
        - name: sportId
          in: query
          description: The sport id to retrieve the fixtures for.
          required: true
          schema:
            type: integer
            format: int32
        - name: leagueIds
          in: query
          description: >-
            The leagueIds array may contain a list of comma separated league
            ids.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: isLive
          in: query
          description: >-
            To retrieve ONLY live events set the value to 1 (isLive=1). Missing
            or any other value will result in retrieval of events regardless of
            their Live status.
          required: false
          schema:
            type: boolean
        - name: since
          in: query
          description: >-
            This is used to receive incremental updates. Use the value of last
            from previous fixtures response. When since parameter is not
            provided, the fixtures are delayed up to 1 minute to encourage the
            use of the parameter.
          required: false
          schema:
            type: integer
            format: int64
        - name: eventIds
          in: query
          description: Comma separated list of event ids to filter by
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixturesResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
  /v1/fixtures/special:
    get:
      tags:
        - Fixtures
      summary: Get Special Fixtures - v1
      description: Returns all **non-settled** specials for the given sport.
      operationId: Fixtures_Special_V1_Get
      parameters:
        - name: sportId
          in: query
          description: Id of a sport for which to retrieve the specials.
          required: true
          schema:
            type: integer
            format: int32
        - name: leagueIds
          in: query
          description: >-
            The leagueIds array may contain a list of comma separated league
            ids.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: since
          in: query
          description: >-
            This is used to receive incremental updates. Use the value of last
            field from the previous response. When since parameter is not
            provided, the fixtures are delayed up to 1 min to encourage the use
            of the parameter.
          required: false
          schema:
            type: integer
            format: int64
        - name: category
          in: query
          description: The category the special falls under.
          required: false
          schema:
            type: string
        - name: eventId
          in: query
          description: Id of an event associated with a special.
          required: false
          schema:
            type: integer
            format: int64
        - name: specialId
          in: query
          description: Id of the special.
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialsFixturesResponse'
              examples:
                response:
                  value:
                    sportId: 4
                    last: 636433059508250600
                    leagues:
                      - id: 487
                        specials:
                          - id: 1
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Will the 4th quarter be odd or even?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: 1/4 Totals
                            units: ''
                            status: I
                            event:
                              id: 1
                              periodNumber: 0
                            contestants:
                              - id: 1
                                name: Odd
                                rotNum: 100
                              - id: 2
                                name: Even
                                rotNum: 101
                          - id: 2
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Will the 3rd quarter be odd or even?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: 1/4 Totals
                            units: ''
                            status: I
                            event:
                              id: 1
                              periodNumber: 0
                            contestants:
                              - id: 3
                                name: Odd
                                rotNum: 100
                              - id: 4
                                name: Even
                                rotNum: 101
                          - id: 3
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Will the 2nd quarter be odd or even?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: 1/4 Totals
                            units: ''
                            status: H
                            event:
                              id: 1
                              periodNumber: 0
                            contestants:
                              - id: 5
                                name: Odd
                                rotNum: 100
                              - id: 6
                                name: Even
                                rotNum: 101
                          - id: 4
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Will the 1st quarter be odd or even?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: 1/4 Totals
                            units: ''
                            status: I
                            event:
                              id: 1
                              periodNumber: 0
                            contestants:
                              - id: 7
                                name: Odd
                                rotNum: 100
                              - id: 8
                                name: Even
                                rotNum: 101
                          - id: 5
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Will the 4th quarter be odd or even?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: 1/4 Totals
                            units: ''
                            status: null
                            event:
                              id: 2
                              periodNumber: 0
                            contestants:
                              - id: 9
                                name: Odd
                                rotNum: 100
                              - id: 10
                                name: Even
                                rotNum: 101
                          - id: 6
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Will the 3rd quarter be odd or even?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: 1/4 Totals
                            units: ''
                            status: I
                            event:
                              id: 2
                              periodNumber: 0
                            contestants:
                              - id: 11
                                name: Odd
                                rotNum: 100
                              - id: 12
                                name: Even
                                rotNum: 101
                          - id: 7
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Will the 2nd quarter be odd or even?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: 1/4 Totals
                            units: ''
                            status: I
                            event:
                              id: 2
                              periodNumber: 0
                            contestants:
                              - id: 13
                                name: Odd
                                rotNum: 100
                              - id: 14
                                name: Even
                                rotNum: 101
                          - id: 8
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Will the 1st quarter be odd or even?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: 1/4 Totals
                            units: ''
                            status: H
                            event:
                              id: 2
                              periodNumber: 0
                            contestants:
                              - id: 15
                                name: Odd
                                rotNum: 100
                              - id: 16
                                name: Even
                                rotNum: 101
                          - id: 9
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Who will win the NBA finals?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: Outright Winner
                            units: ''
                            status: I
                            contestants:
                              - id: 17
                                name: Golden State Warriors
                                rotNum: 100
                              - id: 18
                                name: Cleveland Cavaliers
                                rotNum: 101
                              - id: 19
                                name: San Antonio Spurs
                                rotNum: 102
                              - id: 20
                                name: Chicago Bulls
                                rotNum: 103
                      - id: 578
                        specials:
                          - id: 10
                            betType: MULTI_WAY_HEAD_TO_HEAD
                            name: Who will win the WNBA finals?
                            date: '2017-10-11T14:00:00Z'
                            cutoff: '2017-10-11T14:00:00Z'
                            category: Outright Winner
                            units: ''
                            status: I
                            contestants:
                              - id: 21
                                name: Minnesota Lynx
                                rotNum: 100
                              - id: 22
                                name: Indiana Fever
                                rotNum: 101
                              - id: 23
                                name: Phoenix Mercury
                                rotNum: 102
                              - id: 24
                                name: Chicago Sky
                                rotNum: 103
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
      deprecated: false
  /v1/fixtures/settled:
    get:
      tags:
        - Fixtures
      summary: Get Settled Fixtures - v1
      description: Returns fixtures settled in the last 24 hours for the given sport.
      operationId: Fixtures_Settled_V1_Get
      parameters:
        - name: sportId
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: leagueIds
          in: query
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: since
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettledFixturesSport'
              examples:
                response:
                  value:
                    sportId: 0
                    last: 0
                    leagues:
                      - id: 0
                        events:
                          - id: 0
                            periods:
                              - number: 0
                                status: 0
                                settlementId: 0
                                settledAt: '2017-09-03T18:21:22.3846289-07:00'
                                team1Score: 0
                                team2Score: 0
                                cancellationReason:
                                  code: string
                                  details:
                                    correctTeam1Id: string
                                    correctTeam2Id: string
                                    correctListedPitcher1: string
                                    correctListedPitcher2: string
                                    correctSpread: '0.0'
                                    correctTotalPoints: '0.0'
                                    correctTeam1TotalPoints: '0.0'
                                    correctTeam2TotalPoints: '0.0'
                                    correctTeam1Score: '0'
                                    correctTeam2Score: '0'
                                    correctTeam1TennisSetsScore: '0'
                                    correctTeam2TennisSetsScore: '0'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
  /v1/fixtures/special/settled:
    get:
      tags:
        - Fixtures
      summary: Get Settled Special Fixtures - v1
      description: >-
        Returns all specials which are settled in the last 24 hours for the
        given Sport.
      operationId: Fixtures_Specials_Settled_V1_Get
      parameters:
        - name: sportId
          in: query
          description: Id of the sport for which to retrieve the settled specials.
          required: true
          schema:
            type: integer
            format: int32
        - name: leagueIds
          in: query
          description: Array of leagueIds. This is optional parameter.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: since
          in: query
          description: >-
            This is used to receive incremental updates. Use the value of last
            from previous response.
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettledSpecialsResponse'
              examples:
                response:
                  value:
                    sportId: 0
                    last: 0
                    leagues:
                      - id: 0
                        specials:
                          - settledAt: '2017-10-11T15:05:50.996671Z'
                            cancellationReason:
                              code: string
                              details:
                                correctTeam1Id: string
                                correctTeam2Id: string
                                correctListedPitcher1: string
                                correctListedPitcher2: string
                                correctSpread: '0.0'
                                correctTotalPoints: '0.0'
                                correctTeam1TotalPoints: '0.0'
                                correctTeam2TotalPoints: '0.0'
                                correctTeam1Score: '0'
                                correctTeam2Score: '0'
                                correctTeam1TennisSetsScore: '0'
                                correctTeam2TennisSetsScore: '0'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
      deprecated: false
  /v1/odds:
    get:
      tags:
        - Odds
      summary: Get Straight Odds - v1
      description: >-
        Returns straight odds for all non-settled events. Please note that it
        is  possible that the event is in Get Fixtures response but not in Get
        Odds. This happens when the odds are not currently available for
        wagering.
      operationId: Odds_Straight_V1_Get
      parameters:
        - name: sportId
          in: query
          description: The sportid for which to retrieve the odds.
          required: true
          schema:
            type: integer
            format: int32
        - name: leagueIds
          in: query
          description: >-
            The leagueIds array may contain a list of comma separated league
            ids.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: oddsFormat
          in: query
          description: >-
            Format in which we return the odds. Default is American. [American,
            Decimal, HongKong, Indonesian, Malay]
          required: false
          schema:
            type: string
            enum:
              - American
              - Decimal
              - HongKong
              - Indonesian
              - Malay
        - name: since
          in: query
          description: >-
            This is used to receive incremental updates. Use the value of last
            from previous odds response. When since parameter is not provided,
            the odds are delayed up to 1 min to encourage the use of the
            parameter. Please note that when using since parameter you will get
            in the response ONLY changed periods. If a period did not have any
            changes it will not be in the response.
          required: false
          schema:
            type: integer
            format: int64
        - name: isLive
          in: query
          description: >-
            To retrieve ONLY live odds set the value to 1 (isLive=1). Otherwise
            response will have all odds.
          required: false
          schema:
            type: boolean
        - name: eventIds
          in: query
          description: Filter by EventIds
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: toCurrencyCode
          in: query
          description: >-
            3 letter currency code as in the
            [/currency](https://pinnacleapi.github.io/linesapi#operation/Currencies_V2_Get)
            response. Limits will be returned in the requested currency. Default
            is USD.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OddsResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/odds/special:
    get:
      tags:
        - Odds
      summary: Get Special Odds - v1
      description: Returns odds for specials for all non-settled events.
      operationId: Odds_Special_V1_Get
      parameters:
        - name: oddsFormat
          in: query
          description: >-
            Format the odds are returned in. [American, Decimal, HongKong,
            Indonesian, Malay]
          required: false
          schema:
            type: string
            enum:
              - American
              - Decimal
              - HongKong
              - Indonesian
              - Malay
        - name: sportId
          in: query
          description: Id of a sport for which to retrieve the specials.
          required: true
          schema:
            type: integer
            format: int32
        - name: leagueIds
          in: query
          description: >-
            The leagueIds array may contain a list of comma separated league
            ids.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: since
          in: query
          description: >-
            This is used to receive incremental updates. Use the value of last
            from previous response. When since parameter is not provided, the
            fixtures are delayed up to 1 min to encourage the use of the
            parameter.
          required: false
          schema:
            type: integer
            format: int64
        - name: specialId
          in: query
          description: Id of the special. This is an optional argument.
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialOddsResponse'
              examples:
                response:
                  value:
                    sportId: 4
                    last: 636433059510590700
                    leagues:
                      - id: 487
                        specials:
                          - id: 1
                            maxBet: 100
                            contestantLines:
                              - id: 1
                                lineId: 1001
                                price: -199
                                handicap: null
                              - id: 2
                                lineId: 1002
                                price: -198
                                handicap: null
                          - id: 2
                            maxBet: 100
                            contestantLines:
                              - id: 3
                                lineId: 1003
                                price: -197
                                handicap: null
                              - id: 4
                                lineId: 1004
                                price: -196
                                handicap: null
                          - id: 3
                            maxBet: 100
                            contestantLines:
                              - id: 5
                                lineId: 1005
                                price: -195
                                handicap: null
                              - id: 6
                                lineId: 1006
                                price: -194
                                handicap: null
                          - id: 4
                            maxBet: 100
                            contestantLines:
                              - id: 7
                                lineId: 1007
                                price: -193
                                handicap: null
                              - id: 8
                                lineId: 1008
                                price: -192
                                handicap: null
                          - id: 5
                            maxBet: 100
                            contestantLines:
                              - id: 9
                                lineId: 1009
                                price: -191
                                handicap: null
                              - id: 10
                                lineId: 1010
                                price: -190
                                handicap: null
                          - id: 6
                            maxBet: 100
                            contestantLines:
                              - id: 11
                                lineId: 1011
                                price: -189
                                handicap: null
                              - id: 12
                                lineId: 1012
                                price: -188
                                handicap: null
                          - id: 7
                            maxBet: 100
                            contestantLines:
                              - id: 13
                                lineId: 1013
                                price: -187
                                handicap: null
                              - id: 14
                                lineId: 1014
                                price: -186
                                handicap: null
                          - id: 8
                            maxBet: 100
                            contestantLines:
                              - id: 15
                                lineId: 1015
                                price: -185
                                handicap: null
                              - id: 16
                                lineId: 1016
                                price: -184
                                handicap: null
                          - id: 9
                            maxBet: 100
                            contestantLines:
                              - id: 17
                                lineId: 1017
                                price: -183
                                handicap: null
                              - id: 18
                                lineId: 1018
                                price: -182
                                handicap: null
                              - id: 19
                                lineId: 1019
                                price: -181
                                handicap: null
                              - id: 20
                                lineId: 1020
                                price: -180
                                handicap: null
                      - id: 578
                        specials:
                          - id: 10
                            maxBet: 100
                            contestantLines:
                              - id: 21
                                lineId: 1021
                                price: -179
                                handicap: null
                              - id: 22
                                lineId: 1022
                                price: -178
                                handicap: null
                              - id: 23
                                lineId: 1023
                                price: -177
                                handicap: null
                              - id: 24
                                lineId: 1024
                                price: -176
                                handicap: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
      deprecated: false
  /v1/line:
    get:
      tags:
        - Line
      summary: Get Straight Line - v1
      description: Returns latest line.
      operationId: Line_Straight_V1_Get
      parameters:
        - name: leagueId
          in: query
          description: League Id.
          required: true
          schema:
            type: integer
            format: int32
        - name: handicap
          in: query
          description: >-
            This is needed for SPREAD, TOTAL_POINTS and TEAM_TOTAL_POINTS bet
            types
          required: true
          schema:
            type: number
            format: double
        - name: oddsFormat
          in: query
          description: Format in which we return the odds. Default is American.
          required: true
          schema:
            type: string
            enum:
              - American
              - Decimal
              - HongKong
              - Indonesian
              - Malay
        - name: sportId
          in: query
          description: Sport identification
          required: true
          schema:
            type: integer
            format: int32
        - name: eventId
          in: query
          description: Event identification
          required: true
          schema:
            type: integer
            format: int64
        - name: periodNumber
          in: query
          description: >-
            This represents the period of the match. For example, for soccer we
            have 0 (Game),  1 (1st Half) & 2 (2nd Half)
          required: true
          schema:
            type: integer
            format: int32
        - name: betType
          in: query
          description: Bet Type
          required: true
          schema:
            type: string
            enum:
              - SPREAD
              - MONEYLINE
              - TOTAL_POINTS
              - TEAM_TOTAL_POINTS
        - name: team
          in: query
          description: >-
            Chosen team type. This is needed only for SPREAD, MONEYLINE and
            TEAM_TOTAL_POINTS bet types
          required: false
          schema:
            type: string
            enum:
              - Team1
              - Team2
              - Draw
        - name: side
          in: query
          description: >-
            Chosen side. This is needed only for TOTAL_POINTS and
            TEAM_TOTAL_POINTS
          required: false
          schema:
            type: string
            enum:
              - OVER
              - UNDER
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
  /v1/line/special:
    get:
      tags:
        - Line
      operationId: Line_Special_V1_Get
      summary: Get Special Line - v1
      description: Returns special lines and calculate odds.
      parameters:
        - name: oddsFormat
          in: query
          description: >-
            Format the odds are returned in. [American, Decimal, HongKong,
            Indonesian, Malay]
          required: true
          schema:
            type: string
            enum:
              - American
              - Decimal
              - HongKong
              - Indonesian
              - Malay
        - name: specialId
          in: query
          description: Id of the special.
          required: true
          schema:
            type: integer
            format: int64
        - name: contestantId
          in: query
          description: Id of the contestant.
          required: true
          schema:
            type: integer
            format: int64
        - name: handicap
          in: query
          description: >-
            handicap of the contestant. As contestant's handicap is a mutable
            property, it may happened that line/special returns status:SUCCESS,
            but with the different handicap from the one that client had at the
            moment of calling the line/special. One can specify handicap
            parameter in the request and if the contestant's handicap changed,
            it would return status:NOT_EXISTS. This way line/special is more
            aligned to how /line works.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialLineResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
      deprecated: false
  /v2/sports:
    get:
      tags:
        - Others
      summary: Get Sports - v2
      description: >-
        Returns all sports with the status whether they currently have lines or
        not.
      operationId: Sports_V2_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinesErrorResponse'
  /v2/leagues:
    get:
      tags:
        - Others
      summary: Get Leagues - v2
      description: >-
        Returns all sports leagues with the status whether they currently have
        lines or not.
      operationId: Leagues_V2_Get
      parameters:
        - name: sportId
          in: query
          description: Sport id for which the leagues are requested.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leagues'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
  /v1/periods:
    get:
      tags:
        - Others
      summary: Get Periods - v1
      description: Returns all periods for a given sport.
      operationId: Periods_V1_Get
      parameters:
        - name: sportId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportPeriod'
              examples:
                response:
                  value:
                    periods:
                      - number: 0
                        description: Match
                        shortDescription: FT
                        spreadDescription: Handicap
                        moneylineDescription: 1X2
                        totalDescription: Total
                        team1TotalDescription: Team 1 Goals
                        team2TotalDescription: Team 2 Goals
                        spreadShortDescription: HDP
                        moneylineShortDescription: 1X2
                        totalShortDescription: O/U
                        team1TotalShortDescription: Team 1 Goals
                        team2TotalShortDescription: Team 2 Goals
                      - number: 1
                        description: 1st Half
                        shortDescription: 1st H
                        spreadDescription: 1H Handicap
                        moneylineDescription: 1H 1X2
                        totalDescription: 1H Total
                        team1TotalDescription: 1H Team 1 Goals
                        team2TotalDescription: 1H Team 2 Goals
                        spreadShortDescription: 1H HDP
                        moneylineShortDescription: 1H 1X2
                        totalShortDescription: 1H O/U
                        team1TotalShortDescription: 1H GOAL
                        team2TotalShortDescription: 1H GOAL
                      - number: 2
                        description: 2nd Half
                        shortDescription: 2nd H
                        spreadDescription: 2H Handicap
                        moneylineDescription: 2H 1X2
                        totalDescription: 2H Total
                        team1TotalDescription: 2H Team 1 Goals
                        team2TotalDescription: 2H Team 2 Goals
                        spreadShortDescription: 2H HDP
                        moneylineShortDescription: 2H 1X2
                        totalShortDescription: 2H O/U
                        team1TotalShortDescription: 2H GOAL
                        team2TotalShortDescription: 2H GOAL
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
  /v1/inrunning:
    get:
      tags:
        - Others
      summary: Get In-Running - v1
      description: >-
        Returns all live soccer events that have a status that indicates the
        event is in progress.
      operationId: InRunning_V1_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InRunningResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedLinesErrorResponse'
  /v1/teaser/groups:
    get:
      tags:
        - Others
      summary: Get Teaser Groups - v1
      description: Returns all teaser groups.
      operationId: Teaser_Groups_V1_Get
      parameters:
        - name: oddsFormat
          in: query
          description: >-
            Format the odds are returned in. [American, Decimal, HongKong,
            Indonesian, Malay]
          required: true
          schema:
            type: string
            enum:
              - American
              - Decimal
              - HongKong
              - Indonesian
              - Malay
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeaserGroupsResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
  /v1/cancellationreasons:
    get:
      tags:
        - Others
      summary: Get Cancellation Reasons - v1
      description: Lookup for all the cancellation reasons
      operationId: CancellationReasons_V1_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationReasonResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
  /v2/currencies:
    get:
      tags:
        - Others
      summary: Get Currencies - v2
      description: Returns the list of supported currencies
      operationId: Currencies_V2_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulCurrenciesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: >
            INVALID_REQUEST_DATA  = Invalid request parameters (http status
            400)  

            INVALID_CREDENTIALS = Authorization failed, invalid credentials
            (http status 401)  

            INVALID_AUTHORIZATION_HEADER = HTTP Authorization header is missing
            (http status 401) 

            ACCOUNT_INACTIVE = Client's account is not active (http status
            403)  

            NO_API_ACCESS = Account not permitted to access the API (http status
            403) 

            RESUBMIT_REQUEST = It can happen only when placing a bet (http
            status 400).  Unable to process the request but the request itself
            is valid. This happens more often on the live betting in situations
            when there is more than one place bet request at the same on the
            same line. When this happens, we don't keep the place bet request on
            the server until we know if we can accept or reject the bet, but
            instead we return the error. It's also very likely that the line
            will change after that. To reduce a chance of getting
            RESUBMIT_REQUEST client should try to place a bet as fast as
            possible. 
          enum:
            - INVALID_REQUEST_DATA
            - INVALID_CREDENTIALS
            - INVALID_AUTHORIZATION_HEADER
            - ACCOUNT_INACTIVE
            - NO_API_ACCESS
            - RESUBMIT_REQUEST
        message:
          type: string
    ExtendedErrorResponse:
      type: object
      properties:
        ref:
          type: string
        code:
          type: string
        message:
          type: string
    ClientBalanceResponse:
      required:
        - availableBalance
        - currency
        - givenCredit
        - outstandingTransactions
      type: object
      properties:
        availableBalance:
          type: number
          description: Amount available for betting.
          format: double
        outstandingTransactions:
          type: number
          description: Sum of not yet settled bet amounts.
          format: double
        givenCredit:
          type: number
          description: Client’s credit.
          format: double
        currency:
          type: string
          description: Client’s currency code.
      description: Client Balance Details
    TranslationResponse:
      type: object
      properties:
        translations:
          type: array
          description: Collection of translations.
          items:
            $ref: '#/components/schemas/Translation'
    Translation:
      type: object
      properties:
        text:
          type: string
          description: Original requested text to be translated.
          example: Football
        cultures:
          type: array
          description: Collection of translations by culture.
          items:
            $ref: '#/components/schemas/TranslationByCulture'
    TranslationByCulture:
      type: object
      properties:
        id:
          type: string
          description: Culture based on which the text is translated.
          example: fr-FR
          enum:
            - en-US
            - en-GB
            - zh-CN
            - zh-TW
            - fi-FI
            - de-DE
            - he-IL
            - it-IT
            - nb-NO
            - pt-BR
            - ru-RU
            - es-ES
            - sv-SE
            - th-TH
            - pl-PL
            - fr-FR
            - ja-JP
            - ko-KR
            - vi-VN
            - id-ID
            - cs-CZ
        text:
          type: string
          description: Translation text.
          example: Football américain
    PlaceBetRequest:
      type: object
      properties:
        oddsFormat:
          $ref: '#/components/schemas/OddsFormat'
        uniqueRequestId:
          type: string
          description: >-
            This is a Unique ID for PlaceBet requests. This is to support
            idempotent requests.
          format: uuid
          example: d5cc50e4-284d-4d50-8d49-429bdc4f2a48
        acceptBetterLine:
          type: boolean
          description: >-
            Whether or not to accept a bet when there is a line change in favor
            of the client.
          example: true
        stake:
          type: number
          description: amount in client’s currency.
          format: double
          example: 10.5
        winRiskStake:
          type: string
          description: Whether the stake amount is risk or win amount.
          example: RISK
          enum:
            - WIN
            - RISK
        lineId:
          type: integer
          description: Line identification.
          format: int64
          example: 420921914
        altLineId:
          type: integer
          description: Alternate line identification.
          format: int64
          nullable: true
        pitcher1MustStart:
          type: boolean
          description: >-
            Baseball only. Refers to the pitcher for Team1. This applicable only
            for MONEYLINE bet type, for all other bet types this has to be TRUE.
        pitcher2MustStart:
          type: boolean
          description: >-
            Baseball only. Refers to the pitcher for Team2. This applicable only
            for MONEYLINE bet type, for all other bet types this has to be TRUE.
        fillType:
          type: string
          description: >
            NORMAL - bet will be placed on specified stake.  

            FILLANDKILL - If the stake is over the max limit, bet will be placed
            on max limit, otherwise it will be placed on specified stake.  

            FILLMAXLIMIT - bet will be places on max limit, stake amount will be
            ignored. Please note that maximum limits can change at any moment,
            which may result in risking more than anticipated. This option is
            replacement of isMaxStakeBet from v1/bets/place'
          example: NORMAL
          default: NORMAL
          enum:
            - NORMAL
            - FILLANDKILL
            - FILLMAXLIMIT
        sportId:
          type: integer
          format: int32
          example: 29
        eventId:
          type: integer
          format: int64
          example: 757504261
        periodNumber:
          type: integer
          format: int32
          example: 0
        betType:
          type: string
          description: Bet type.
          example: MONEYLINE
          enum:
            - MONEYLINE
            - TEAM_TOTAL_POINTS
            - SPREAD
            - TOTAL_POINTS
        team:
          type: string
          description: Team type.
          example: TEAM1
          enum:
            - TEAM1
            - TEAM2
            - DRAW
        side:
          type: string
          description: Side type.
          nullable: true
          example: null
          enum:
            - OVER
            - UNDER
      description: Request to place a bet.
    PlaceBetResponseV2:
      type: object
      properties:
        status:
          type: string
          description: Status of the response.
          example: ACCEPTED
          enum:
            - ACCEPTED
            - PENDING_ACCEPTANCE
            - PROCESSED_WITH_ERROR
        errorCode:
          type: string
          description: >
            If Status is PROCESSED_WITH_ERROR, errorCode will be in the
            response. 


            ALL_BETTING_CLOSED = Betting is not allowed at this moment. This may
            happen during system maintenance,  

            ALL_LIVE_BETTING_CLOSED = Live betting is not allowed at this
            moment. This may happen during system maintenance,  

            ABOVE_EVENT_MAX = Bet cannot be placed because client exceeded
            allowed maximum of risk on a line,  

            ABOVE_MAX_BET_AMOUNT = Stake is above allowed maximum amount,   

            BELOW_MIN_BET_AMOUNT = Stake is below allowed minimum amount,  

            BLOCKED_BETTING = Betting is suspended for the client,  

            BLOCKED_CLIENT = Client is no longer active,   

            INSUFFICIENT_FUNDS = Bet is submitted by a client with insufficient
            funds,  

            INVALID_COUNTRY = Client country is not allowed for betting,  

            INVALID_EVENT = Invalid eventid,  

            INVALID_ODDS_FORMAT = If a bet was submitted with the odds format
            that is not allowed for the client,  

            LINE_CHANGED = Bet is submitted on a line that has changed,  

            LISTED_PITCHERS_SELECTION_ERROR = If bet was submitted with
            pitcher1MustStart and/or pitcher2MustStart parameters in Place Bet
            request with values that are not allowed,  

            OFFLINE_EVENT = Bet is submitted on an event that is offline or the
            submitted line is not offered at the moment due to points/handicap
            change or the submitted bet type is just not offered at the
            moment,  

            PAST_CUTOFFTIME = Bet is submitted on a game after the betting
            cutoff time,  

            RED_CARDS_CHANGED = Bet is submitted on a live soccer event with
            changed red card count,  

            SCORE_CHANGED = Bet is submitted on a live soccer event with changed
            score,  

            TIME_RESTRICTION = Bet is submitted within too short of a period
            from the same bet previously placed by a client,  

            DUPLICATE_UNIQUE_REQUEST_ID = Request with the same uniqueRequestId
            was already processed. Please set the new value if you still want
            the request to be processed,  

            INCOMPLETE_CUSTOMER_BETTING_PROFILE = System configuration issue,  

            INVALID_CUSTOMER_PROFILE = System configuration issue,  

            LIMITS_CONFIGURATION_ISSUE = System configuration issue,  

            RESPONSIBLE_BETTING_LOSS_LIMIT_EXCEEDED = Client has reached his
            total loss limit,  

            RESPONSIBLE_BETTING_RISK_LIMIT_EXCEEDED = Client has reached his
            total risk limit,  

            SYSTEM_ERROR_3 = Unexpected error,  

            LICENCE_RESTRICTION_LIVE_BETTING_BLOCKED - Live betting blocked due
            to licence restrictions
          nullable: true
          example: null
          enum:
            - ALL_BETTING_CLOSED
            - ALL_LIVE_BETTING_CLOSED
            - ABOVE_EVENT_MAX
            - ABOVE_MAX_BET_AMOUNT
            - BELOW_MIN_BET_AMOUNT
            - BLOCKED_BETTING
            - BLOCKED_CLIENT
            - INSUFFICIENT_FUNDS
            - INVALID_COUNTRY
            - INVALID_EVENT
            - INVALID_ODDS_FORMAT
            - LINE_CHANGED
            - LISTED_PITCHERS_SELECTION_ERROR
            - OFFLINE_EVENT
            - PAST_CUTOFFTIME
            - RED_CARDS_CHANGED
            - SCORE_CHANGED
            - TIME_RESTRICTION
            - DUPLICATE_UNIQUE_REQUEST_ID
            - INCOMPLETE_CUSTOMER_BETTING_PROFILE
            - INVALID_CUSTOMER_PROFILE
            - LIMITS_CONFIGURATION_ISSUE
            - RESPONSIBLE_BETTING_LOSS_LIMIT_EXCEEDED
            - RESPONSIBLE_BETTING_RISK_LIMIT_EXCEEDED
            - SYSTEM_ERROR_3
            - LICENCE_RESTRICTION_LIVE_BETTING_BLOCKED
        uniqueRequestId:
          type: string
          description: Echo of the uniqueRequestId from the request.
          example: D5CC50E4-284D-4D50-8D49-429BDC4F2A4
        straightBet:
          $ref: '#/components/schemas/StraightBet'
      description: ''
    StraightBet:
      required:
        - betId
        - betStatus
        - betType
        - oddsFormat
        - placedAt
        - risk
        - updateSequence
        - wagerNumber
        - win
      type: object
      properties:
        betId:
          type: integer
          description: Bet identification
          format: int64
          example: 759629245
        wagerNumber:
          type: integer
          description: >-
            Wager identification. All bets placed thru the API will have value
            1. Website Classic view supports multiple contest(special) bets
            placement in the same bet slip in that case the bet would have
            appropriate wager number, as well as all round robin parlay bets.
          format: int32
          example: 1
        placedAt:
          type: string
          description: Date time when the bet was placed.
          format: date-time
          example: 2017-09-05T01:32:59.000Z
        betStatus:
          type: string
          description: >
            Bet Status.  


            ACCEPTED = Bet was accepted,  

            CANCELLED = Bet is cancelled as per Pinnacle betting rules,  

            LOSE = The bet is settled as lose,  

            PENDING_ACCEPTANCE = This status is reserved only for live bets. If
            a live bet is placed during danger zone or live delay is applied, it
            will be in PENDING_ACCEPTANCE , otherwise in ACCEPTED status. From
            this status bet can go to ACCEPTED or NOT_ACCEPTED status,  

            REFUNDED = When an event is cancelled or when the bet is settled as
            push, the bet will have REFUNDED status,  

            NOT_ACCEPTED = Bet was not accepted. Bet can be in this status only
            if it was previously in PENDING_ACCEPTANCE status,  

            WON = The bet is settled as won 
          example: ACCEPTED
          enum:
            - ACCEPTED
            - CANCELLED
            - LOSE
            - PENDING_ACCEPTANCE
            - REFUNDED
            - NOT_ACCEPTED
            - WON
        betType:
          type: string
          description: Bet type.
          example: MONEYLINE
          enum:
            - MONEYLINE
            - TEAM_TOTAL_POINTS
            - SPREAD
            - TOTAL_POINTS
            - SPECIAL
            - PARLAY
            - TEASER
            - MANUAL
        win:
          type: number
          description: Win amount.
          format: double
          example: 1
        risk:
          type: number
          description: Risk amount.
          format: double
          example: 1.5
        winLoss:
          type: number
          description: Win-Loss for settled bets.
          format: double
          nullable: true
        oddsFormat:
          $ref: '#/components/schemas/OddsFormat'
        customerCommission:
          type: number
          description: Client’s commission on the bet.
          format: double
          nullable: true
        cancellationReason:
          $ref: '#/components/schemas/CancellationReason'
        updateSequence:
          type: integer
          description: Update Sequence
          format: int64
          example: 111548915
        sportId:
          type: integer
          description: ''
          format: int32
          example: 29
        leagueId:
          type: integer
          description: ''
          format: int32
          example: 2462
        eventId:
          type: integer
          description: ''
          format: int64
          example: 757064557
        handicap:
          type: number
          description: ''
          format: double
          nullable: true
        price:
          type: number
          description: ''
          format: double
          example: -155
        teamName:
          type: string
          description: ''
          example: Crvena Zvezda
        side:
          type: string
          description: Side type.
          nullable: true
          example: null
          enum:
            - OVER
            - UNDER
        pitcher1:
          type: string
          description: Pitcher name of team1. Only for bets on baseball.
          nullable: true
          example: null
        pitcher2:
          type: string
          description: Pitcher name of team2. Only for bets on baseball.
          nullable: true
          example: null
        pitcher1MustStart:
          type: string
          description: Whether the team1 pitcher must start. Only for bets on baseball.
          nullable: true
          example: null
        pitcher2MustStart:
          type: string
          description: Whether the team1 pitcher must start. Only for bets on baseball.
          nullable: true
          example: null
        team1:
          type: string
          description: ''
          example: Crvena Zvezda
        team2:
          type: string
          description: ''
          example: Partizan
        periodNumber:
          type: integer
          description: ''
          format: int32
          example: 0
        team1Score:
          type: number
          description: 'Team 1 score that the bet was placed on, only for live bets.'
          format: double
          nullable: true
        team2Score:
          type: number
          description: 'Team 2 score that the bet was placed, only for live bets.'
          format: double
          nullable: true
        ftTeam1Score:
          type: number
          description: 'Full time team 1 score, only for settled bets.'
          format: double
          nullable: true
        ftTeam2Score:
          type: number
          description: 'Full time team 2 score, only for settled bets.'
          format: double
          nullable: true
        pTeam1Score:
          type: number
          description: >-
            .End of period team 1 score, only for settled bets. If the bet was
            placed on Game period (periodNumber =0) , this will be null . 
          format: double
          nullable: true
        pTeam2Score:
          type: number
          description: >-
            End of period team 2 score, only for settled bets. If the bet was
            placed on Game period (periodNumber =0), this will be null
          format: double
          nullable: true
        isLive:
          type: string
          description: Whether the bet is on live event
          example: 'false'
      description: ''
    StraightBetV3:
      required:
        - betId
        - betStatus
        - betType
        - oddsFormat
        - placedAt
        - risk
        - updateSequence
        - wagerNumber
        - win
      type: object
      properties:
        betId:
          type: integer
          description: Bet identification
          format: int64
          example: 759629245
        wagerNumber:
          type: integer
          description: >-
            Wager identification. All bets placed thru the API will have value
            1. Website Classic view supports multiple contest(special) bets
            placement in the same bet slip in that case the bet would have
            appropriate wager number, as well as all round robin parlay bets.
          format: int32
          example: 1
        placedAt:
          type: string
          description: Date time when the bet was placed.
          format: date-time
          example: 2017-09-05T01:32:59.000Z
        betStatus:
          type: string
          description: >
            Bet Status.  


            ACCEPTED = Bet was accepted,  

            CANCELLED = Bet is cancelled as per Pinnacle betting rules,  

            LOSE = The bet is settled as lose,  

            PENDING_ACCEPTANCE = This status is reserved only for live bets. If
            a live bet is placed during danger zone or live delay is applied, it
            will be in PENDING_ACCEPTANCE , otherwise in ACCEPTED status. From
            this status bet can go to ACCEPTED or NOT_ACCEPTED status,  

            REFUNDED = When an event is cancelled or when the bet is settled as
            push, the bet will have REFUNDED status,  

            NOT_ACCEPTED = Bet was not accepted. Bet can be in this status only
            if it was previously in PENDING_ACCEPTANCE status,  

            WON = The bet is settled as won 
          example: ACCEPTED
          enum:
            - ACCEPTED
            - CANCELLED
            - LOSE
            - PENDING_ACCEPTANCE
            - REFUNDED
            - NOT_ACCEPTED
            - WON
        betType:
          type: string
          description: Bet type.
          example: MONEYLINE
          enum:
            - MONEYLINE
            - TEAM_TOTAL_POINTS
            - SPREAD
            - TOTAL_POINTS
            - SPECIAL
            - PARLAY
            - TEASER
            - MANUAL
        win:
          type: number
          description: Win amount.
          format: double
          example: 1
        risk:
          type: number
          description: Risk amount.
          format: double
          example: 1.5
        winLoss:
          type: number
          description: Win-Loss for settled bets.
          format: double
          nullable: true
        oddsFormat:
          $ref: '#/components/schemas/OddsFormat'
        customerCommission:
          type: number
          description: Client’s commission on the bet.
          format: double
          nullable: true
        cancellationReason:
          $ref: '#/components/schemas/CancellationReason'
        updateSequence:
          type: integer
          description: Update Sequence
          format: int64
          example: 111548915
        sportId:
          type: integer
          description: ''
          format: int32
          example: 29
        leagueId:
          type: integer
          description: ''
          format: int32
          example: 2462
        eventId:
          type: integer
          description: ''
          format: int64
          example: 757064557
        handicap:
          type: number
          description: ''
          format: double
          nullable: true
        price:
          type: number
          description: ''
          format: double
          example: -155
        teamName:
          type: string
          description: ''
          example: Crvena Zvezda
        side:
          type: string
          description: Side type.
          nullable: true
          example: null
          enum:
            - OVER
            - UNDER
        pitcher1:
          type: string
          description: Pitcher name of team1. Only for bets on baseball.
          nullable: true
          example: null
        pitcher2:
          type: string
          description: Pitcher name of team2. Only for bets on baseball.
          nullable: true
          example: null
        pitcher1MustStart:
          type: boolean
          description: >-
            Baseball only. Refers to the pitcher for Team1.  This applicable
            only for MONEYLINE bet type, for all other bet types this has to be
            TRUE.
          nullable: true
          example: false
        pitcher2MustStart:
          type: boolean
          description: >-
            Baseball only. Refers to the pitcher for Team2.  This applicable
            only for MONEYLINE bet type, for all other bet types this has to be
            TRUE.
          nullable: true
          example: false
        team1:
          type: string
          description: ''
          example: Crvena Zvezda
        team2:
          type: string
          description: ''
          example: Partizan
        periodNumber:
          type: integer
          description: ''
          format: int32
          example: 0
        team1Score:
          type: number
          description: 'Team 1 score that the bet was placed on, only for live bets.'
          format: double
          nullable: true
        team2Score:
          type: number
          description: 'Team 2 score that the bet was placed, only for live bets.'
          format: double
          nullable: true
        ftTeam1Score:
          type: number
          description: 'Full time team 1 score, only for settled bets.'
          format: double
          nullable: true
        ftTeam2Score:
          type: number
          description: 'Full time team 2 score, only for settled bets.'
          format: double
          nullable: true
        pTeam1Score:
          type: number
          description: >-
            .End of period team 1 score, only for settled bets. If the bet was
            placed on Game period (periodNumber =0), this will be null . 
          format: double
          nullable: true
        pTeam2Score:
          type: number
          description: >-
            End of period team 2 score, only for settled bets. If the bet was
            placed on Game period (periodNumber =0), this will be null
          format: double
          nullable: true
        isLive:
          type: boolean
          description: Whether the bet is on live event
          example: false
        eventStartTime:
          type: string
          description: Date time when the event starts.
          format: date-time
          example: 2017-10-05T01:32:59.000Z
      description: ''
    CancellationReason:
      required:
        - code
      type: object
      properties:
        code:
          type: string
          example: FBS_CW_227
        details:
          $ref: '#/components/schemas/CancellationDetails'
      description: |
        Possible keys \:  
        * correctTeam1Id
        * correctTeam2Id
        * correctListedPitcher1
        * correctListedPitcher2
        * correctSpread
        * correctTotalPoints
        * correctTeam1TotalPoints
        * correctTeam2TotalPoints
        * correctTeam1Score
        * correctTeam2Score
        * correctTeam1TennisSetsScore
        * correctTeam2TennisSetsScore
    CancellationDetails:
      type: array
      example:
        - key: correctSpread
          value: -1.5
      items:
        $ref: '#/components/schemas/CancellationDetailsItem'
    CancellationDetailsItem:
      type: object
      properties:
        key:
          type: string
          example: correctSpread
        value:
          type: string
          example: '1.5'
    ErrorResponseWithErrorRef:
      type: object
      properties:
        ref:
          type: string
          example: f5d9ba85-cc97-47a9-ad92-ea57d0ea2cc0
        code:
          type: string
          example: UNEXPECTED_ERROR
        message:
          type: string
          example: Internal error
    ParlayBet:
      required:
        - betId
        - betStatus
        - betType
        - legs
        - oddsFormat
        - placedAt
        - risk
        - updateSequence
        - wagerNumber
        - win
      type: object
      properties:
        betId:
          type: integer
          description: Bet identification
          format: int64
          example: 760404490
        uniqueRequestId:
          type: string
          description: Unique Request Id
          format: uuid
          example: 10924e23-a2fe-4317-bffd-80504675f554
        wagerNumber:
          type: integer
          description: >-
            Wager identification. All bets placed thru the API will have value
            1. Website Classic view supports multiple contest(special) bets
            placement in the same bet slip in that case the bet would have
            appropriate wager number, as well as all round robin parlay bets.
          format: int32
          example: 1
        placedAt:
          type: string
          description: Date time when the bet was placed.
          format: date-time
          example: 2017-09-08T00:55:11.000Z
        betStatus:
          type: string
          description: >
            Bet Status. 


            ACCEPTED = Bet was accepted,  

            CANCELLED = Bet is cancelled as per Pinnacle betting rules,  

            LOSE = The bet is settled as lose,  

            PENDING_ACCEPTANCE = This status is reserved only for live bets. If
            a live bet is placed during danger zone or live delay is applied, it
            will be in PENDING_ACCEPTANCE , otherwise in ACCEPTED status. From
            this status bet can go to ACCEPTED or REJECTED status,  

            REFUNDED = When an event is cancelled or when the bet is settled as
            push, the bet will have REFUNDED status,  

            NOT_ACCEPTED = Bet was not accepted. Bet can be in this status only
            if it was previously in PENDING_ACCEPTANCE status,  

            WON = The bet is settled as won
          example: ACCEPTED
          enum:
            - ACCEPTED
            - CANCELLED
            - LOSE
            - PENDING_ACCEPTANCE
            - REFUNDED
            - NOT_ACCEPTED
            - WON
        betType:
          type: string
          example: PARLAY
          default: PARLAY
        win:
          type: number
          description: Win amount.
          format: double
          example: 6.82
        risk:
          type: number
          description: Risk amount.
          format: double
          example: 1
        winLoss:
          type: number
          description: Win-Loss for settled bets.
          format: double
          nullable: true
        oddsFormat:
          $ref: '#/components/schemas/OddsFormat'
        customerCommission:
          type: number
          description: Client’s commission on the bet.
          format: double
          nullable: true
        cancellationReason:
          $ref: '#/components/schemas/CancellationReason'
        updateSequence:
          type: integer
          description: Update Sequence
          format: int64
          example: 112839436
        legs:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ParlayLeg'
        price:
          type: number
          description: ''
          format: double
          example: 682
        finalPrice:
          type: number
          description: >-
            Only for settled parlay. Final price may differ in case leg was
            cancelled or half won
          format: double
          example: 0
      description: ''
    ParlayLeg:
      type: object
      properties:
        sportId:
          type: integer
          description: ''
          format: int32
          example: 29
        legBetType:
          type: string
          description: Parlay leg type.
          example: MONEYLINE
          enum:
            - MONEYLINE
            - SPREAD
            - TOTAL_POINTS
        legBetStatus:
          type: string
          description: >
            Parlay Leg status.

            CANCELLED = The leg is canceled- the stake on this leg will be
            transferred to the next one. In this case the leg will be ignored
            when calculating the winLoss,  

            LOSE = The leg is a loss or a push-lose. When Push-lose happens, the
            half of the stake on the leg will be pushed to the next leg, and the
            other half will be a lose. This can happen only when the leg is
            placed on a quarter points handicap,  

            PUSH = The leg is a push - the stake on this leg will be transferred
            to the next one. In this case the leg will be ignored when
            calculating the winLoss,  

            REFUNDED = The leg is refunded - the stake on this leg will be
            transferred to the next one. In this case the leg will be ignored
            when calculating the winLoss,  

            WON = The leg is a won or a push-won. When Push-won happens, the
            half of the stake on the leg will be pushed to the next leg, and the
            other half is won. This can happen only when the leg is placed on a
            quarter points handicap 
          enum:
            - CANCELLED
            - LOSE
            - PUSH
            - REFUNDED
            - WON
            - ACCEPTED
        leagueId:
          type: integer
          description: ''
          format: int32
          example: 1766
        eventId:
          type: integer
          description: ''
          format: int64
          example: 758024079
        eventStartTime:
          type: string
          description: Date time when the event starts.
          format: date-time
          example: 2017-10-05T01:32:59.000Z
        handicap:
          type: number
          description: ''
          format: double
          nullable: true
        price:
          type: number
          description: ''
          format: double
          example: 193
        teamName:
          type: string
          description: ''
          example: Adelaide United
        side:
          type: string
          description: Side type.
          nullable: true
          example: null
          enum:
            - OVER
            - UNDER
        pitcher1:
          type: string
          description: ''
          nullable: true
          example: null
        pitcher2:
          type: string
          description: ''
          nullable: true
          example: null
        pitcher1MustStart:
          type: boolean
          description: ''
          example: false
        pitcher2MustStart:
          type: boolean
          description: ''
          example: false
        team1:
          type: string
          description: Wellington Phoenix
        team2:
          type: string
          description: Adelaide United
        periodNumber:
          type: integer
[...]
