openapi: 3.0.1
info:
  description: "\n# Authentication \n\nAPI uses HTTP Basic access authentication.\
    \ You need to send Authorization HTTP Request header:  \n\n`Authorization: Basic\
    \ <Base64 value of UTF-8 encoded \"username:password\">`\n\nExample:\n\n`Authorization:\
    \ Basic U03MyOT23YbzMDc6d3c3O1DQ1`\n"
  title: Pinnacle - Customer API Reference
  version: 1.0.0
  x-logo:
    url: https://avatars2.githubusercontent.com/u/31601407?s=400&u=f3c6e1cfc8a26665e4a4df6d8da4a7ee527aeceb&v=4
servers:
- url: https://api.pinnacle.com/
security:
- basicAuth: []
paths:
  /v1/client/balance:
    get:
      deprecated: false
      description: Returns current client balance.
      operationId: Client_Balance_V1_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientBalanceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ClientBalanceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClientBalanceResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClientBalanceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Client Balance - v1
      tags:
      - Client Balance
  /v1/translations:
    get:
      description: "Returns language translations.  \n\nExample to translate `football`\
        \ and `soccer` to German and French language: \n\n  ```\n  \n  https://api.pinnacle.com/v1/translations?cultureCodes=de-DE|fr-FR&baseTexts=Football|Soccer\n\
        \  \n\n  ```\n  ## Supported languages \n  \n  | Language   | Culture |\n\
        \  |------------|---------|\n  | English    | en-US   |\n  | British    |\
        \ en-GB   |\n  | ChineseSI  | zh-CN   |\n  | ChineseTR  | zh-TW   |\n  | Finnish\
        \    | fi-FI   |\n  | German     | de-DE   |\n  | Hebrew     | he-IL   |\n\
        \  | Italian    | it-IT   |\n  | Norwegian  | nb-NO   |\n  | Portuguese |\
        \ pt-BR   |\n  | Russian    | ru-RU   |\n  | Spanish    | es-ES   |\n  | Swedish\
        \    | sv-SE   |\n  | Thai       | th-TH   |\n  | Polish     | pl-PL   |\n\
        \  | French     | fr-FR   |\n  | Japanese   | ja-JP   |\n  | Korean     |\
        \ ko-KR   |\n  | Vietnamese | vi-VN   |\n  | Indonesian | id-ID   |\n  | Czech\
        \      | cs-CZ   |\n  \n  \n"
      operationId: Translations_V1_Get
      parameters:
      - description: Array of language cultures separated with |.
        explode: false
        in: query
        name: cultureCodes
        required: true
        schema:
          items:
            type: string
          type: array
        style: pipeDelimited
      - description: Array of base texts to be translated separated with |. Each base
          text in the array must be URL encoded. Base texts are not case sensitive.
        explode: false
        in: query
        name: baseTexts
        required: true
        schema:
          items:
            type: string
          type: array
        style: pipeDelimited
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Translations - v1
      tags:
      - Get Translations
  /v2/bets/straight:
    post:
      description: |
        Place straight bet (SPREAD, MONEYLINE, TOTAL_POINTS, TEAM_TOTAL_POINTS).

        Please note when the status is PENDING_ACCEPTANCE and if the live delay was applied, the response will not have betId. Client would have to call /bets by uniqueRequestId to check the status if the bet was ACCEPTED.  For more details please see [How to place a bet on live events?](https://github.com/pinnacleapi/pinnacleapi-documentation/blob/master/FAQ.md#how-to-place-a-bet-on-live-events)

        Make sure you handle properly the case of an unexpected error as per
         [How to handle error on placing a bet?](https://github.com/pinnacleapi/pinnacleapi-documentation/blob/master/FAQ.md#how-to-handle-unexpected-error-on-placing-a-bet)
      operationId: Bets_StraightV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceBetResponseV2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithErrorRef'
          description: InternalServerError
      summary: Place straight bet  - v2
      tags:
      - Place Bets
      x-codegen-request-body-name: request
  /v1/bets/special:
    post:
      description: |2

        Make sure you handle properly the case of an unexpected error as per
         [How to handle error on placing a bet?](https://github.com/pinnacleapi/pinnacleapi-documentation/blob/master/FAQ.md#how-to-handle-unexpected-error-on-placing-a-bet)
      operationId: Bets_Special
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiBetRequest.SpecialBetRequest'
        description: The SpecialBet request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiBetResponse.SpecialBetResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithErrorRef'
          description: InternalServerError
      summary: Place specials bet.
      tags:
      - Place Bets
      x-codegen-request-body-name: request
  /v3/bets:
    get:
      description: "Returns bets. \n\n\n### Get running bets by time range:\n```\n\
        https://api.pinnacle.com/v3/bets?betlist=RUNNING&fromDate=2017-11-21T00:00:00Z&toDate=2017-11-29T00:00:00Z\n\
        ```\nRunning bets are queried by *placedAt* date time\n\n\n### Get settled\
        \ bets by time range:\n  \n```\nhttps://api.pinnacle.com/v3/bets?betlist=SETTLED&fromDate=2015-12-28T00:00:00Z&toDate=2015-12-29T00:00:00Z\n\
        ```\nSettled bets are queried by *settledAt* date time\nhttps://api.pinnacle.com/v3/bets?betlist=SETTLED&fromDate=2017-11-20T00:00:00Z&toDate=2017-11-23T00:00:00Z\n\
        \n\n### Get settled cancelled bets by time range:\n  \n```\nhttps://api.pinnacle.com/v3/bets?betList=SETTLED&fromDate=2018-03-01&toDate=2018-03-28&betStatuses=CANCELLED\n\
        ```\n\n\n### Get bets by bet ids:\n\n```\nhttps://api.pinnacle.com/v3/bets?betIds=775856112,775856113,775856114\n\
        ```\n\n### Get bets by uniqueRequestIds:\n\n```\nhttps://api.pinnacle.com/v3/bets?uniqueRequestIds=62335222-dae4-479a-8c05-46440ccdd3bb,42335222-dae4-479a-8c05-46440ccdd3bb\n\
        ```\n"
      operationId: Bets_GetBetsByTypeV3
      parameters:
      - description: Type of bet list to return. Not needed when betids is submitted.
        explode: true
        in: query
        name: betlist
        required: false
        schema:
          enum:
          - SETTLED
          - RUNNING
          - ALL
          type: string
        style: form
      - description: Type of bet statues to return. This works only in conjustion
          with betlist, as additional filter.
        explode: false
        in: query
        name: betStatuses
        required: false
        schema:
          items:
            enum:
            - WON
            - LOSE
            - CANCELLED
            - REFUNDED
            - NOT_ACCEPTED
            - ACCEPTED
            - PENDING_ACCEPTANCE
            type: string
          type: array
        style: form
      - description: |
          Start date of the requested period. Required when betlist parameter is submitted. Start date can be up to 30 days in the past. Expected format is ISO8601 - can be set to just date or date and time.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          End date of the requested period. Required when betlist parameter is submitted. Expected format is ISO8601 - can be set to just date or date and time.  toDate value is exclusive, meaning it cannot be equal to fromDate.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          type: string
        style: form
      - description: Sort direction by postedAt/settledAt. Respected only when querying
          by date range.
        explode: true
        in: query
        name: sortDir
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Page size in case. Max is 1000. Respected only when querying
          by date range.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 1000
          type: integer
        style: form
      - description: 'Starting record (inclusive) of the result. Respected only when
          querying by date range. To fetch next page set it to toRecord+1 '
        explode: true
        in: query
        name: fromRecord
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: A comma separated list of bet ids. When betids is submitted,
          no other parameter is necessary. Maximum is 100 ids. Works for all non settled
          bets and all bets settled in the last 30 days.
        explode: false
        in: query
        name: betids
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: "A comma separated list of `uniqueRequestId` from the place bet\
          \ request. If specified, it's highest priority, all other parameters are\
          \ ignored. Maximum is 10 ids. If client has bet id, preferred way is to\
          \ use `betIds` query parameter, you can use `uniqueRequestIds` when you\
          \ do not  have bet id. \nThat are 2 cases when client may not have a bet\
          \ id:\n\n1. When you bet on live event with live delay, place bet response\
          \ in that case does not return bet id, so client can query bet status by\
          \ `uniqueRequestIds`.\n2. In case of any network issues when client is not\
          \ sure what happened with his place bet request. Empty response means that\
          \ the bet was not placed. Please check [Deduplication section](https://www.pinnacle.com/de/api/manual#overview)\
          \ for more details.\n\nNote that there is a restriction: querying by uniqueRequestIds\
          \  is supported for straight and  special bets and only up to 30 min from\
          \ the moment the bet was place. \n"
        explode: false
        in: query
        name: uniqueRequestIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBetsByTypeResponseV3'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithErrorRef'
          description: InternalServerError
      summary: Get Bets - v3
      tags:
      - Get Bets
  /v1/bets/betting-status:
    get:
      description: Returns current betting status. During maintenance windows betting
        could be disabled, you can call this operation to check the current betting
        status.
      operationId: Bets_GetBettingStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingStatusResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithErrorRef'
          description: InternalServerError
      summary: Get Betting Status
      tags:
      - Betting Status
  /v1/fixtures:
    get:
      description: Returns all **non-settled** events for the given sport. Please
        note that it is possible that the event is in Get Fixtures response but not
        in Get Odds. This happens when the odds are not currently available for wagering.
        Please note that it is possible to receive the same exact response when using
        **since** parameter. This is rare and can be caused by internal updates of
        event properties.
      operationId: Fixtures_V1_Get
      parameters:
      - description: The sport id to retrieve the fixtures for.
        explode: true
        in: query
        name: sportId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The leagueIds array may contain a list of comma separated league
          ids.
        explode: true
        in: query
        name: leagueIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: To retrieve ONLY live events set the value to 1 (isLive=1). Missing
          or any other value will result in retrieval of events regardless of their
          Live status.
        explode: true
        in: query
        name: isLive
        required: false
        schema:
          type: boolean
        style: form
      - description: This is used to receive incremental updates. Use the value of
          last from previous fixtures response. When since parameter is not provided,
          the fixtures are delayed up to 1 minute to encourage the use of the parameter.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Comma separated list of event ids to filter by
        explode: true
        in: query
        name: eventIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixturesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Fixtures - v1
      tags:
      - Fixtures
  /v1/fixtures/special:
    get:
      deprecated: false
      description: Returns all **non-settled** specials for the given sport.
      operationId: Fixtures_Special_V1_Get
      parameters:
      - description: Id of a sport for which to retrieve the specials.
        explode: true
        in: query
        name: sportId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The leagueIds array may contain a list of comma separated league
          ids.
        explode: true
        in: query
        name: leagueIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: This is used to receive incremental updates. Use the value of
          last field from the previous response. When since parameter is not provided,
          the fixtures are delayed up to 1 min to encourage the use of the parameter.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The category the special falls under.
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Id of an event associated with a special.
        explode: true
        in: query
        name: eventId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Id of the special.
        explode: true
        in: query
        name: specialId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    sportId: 4
                    last: 636433059508250600
                    leagues:
                    - id: 487
                      specials:
                      - id: 1
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Will the 4th quarter be odd or even?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: 1/4 Totals
                        units: ""
                        status: I
                        event:
                          id: 1
                          periodNumber: 0
                        contestants:
                        - id: 1
                          name: Odd
                          rotNum: 100
                        - id: 2
                          name: Even
                          rotNum: 101
                      - id: 2
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Will the 3rd quarter be odd or even?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: 1/4 Totals
                        units: ""
                        status: I
                        event:
                          id: 1
                          periodNumber: 0
                        contestants:
                        - id: 3
                          name: Odd
                          rotNum: 100
                        - id: 4
                          name: Even
                          rotNum: 101
                      - id: 3
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Will the 2nd quarter be odd or even?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: 1/4 Totals
                        units: ""
                        status: H
                        event:
                          id: 1
                          periodNumber: 0
                        contestants:
                        - id: 5
                          name: Odd
                          rotNum: 100
                        - id: 6
                          name: Even
                          rotNum: 101
                      - id: 4
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Will the 1st quarter be odd or even?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: 1/4 Totals
                        units: ""
                        status: I
                        event:
                          id: 1
                          periodNumber: 0
                        contestants:
                        - id: 7
                          name: Odd
                          rotNum: 100
                        - id: 8
                          name: Even
                          rotNum: 101
                      - id: 5
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Will the 4th quarter be odd or even?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: 1/4 Totals
                        units: ""
                        status: null
                        event:
                          id: 2
                          periodNumber: 0
                        contestants:
                        - id: 9
                          name: Odd
                          rotNum: 100
                        - id: 10
                          name: Even
                          rotNum: 101
                      - id: 6
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Will the 3rd quarter be odd or even?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: 1/4 Totals
                        units: ""
                        status: I
                        event:
                          id: 2
                          periodNumber: 0
                        contestants:
                        - id: 11
                          name: Odd
                          rotNum: 100
                        - id: 12
                          name: Even
                          rotNum: 101
                      - id: 7
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Will the 2nd quarter be odd or even?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: 1/4 Totals
                        units: ""
                        status: I
                        event:
                          id: 2
                          periodNumber: 0
                        contestants:
                        - id: 13
                          name: Odd
                          rotNum: 100
                        - id: 14
                          name: Even
                          rotNum: 101
                      - id: 8
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Will the 1st quarter be odd or even?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: 1/4 Totals
                        units: ""
                        status: H
                        event:
                          id: 2
                          periodNumber: 0
                        contestants:
                        - id: 15
                          name: Odd
                          rotNum: 100
                        - id: 16
                          name: Even
                          rotNum: 101
                      - id: 9
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Who will win the NBA finals?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: Outright Winner
                        units: ""
                        status: I
                        contestants:
                        - id: 17
                          name: Golden State Warriors
                          rotNum: 100
                        - id: 18
                          name: Cleveland Cavaliers
                          rotNum: 101
                        - id: 19
                          name: San Antonio Spurs
                          rotNum: 102
                        - id: 20
                          name: Chicago Bulls
                          rotNum: 103
                    - id: 578
                      specials:
                      - id: 10
                        betType: MULTI_WAY_HEAD_TO_HEAD
                        name: Who will win the WNBA finals?
                        date: 2017-10-11T14:00:00Z
                        cutoff: 2017-10-11T14:00:00Z
                        category: Outright Winner
                        units: ""
                        status: I
                        contestants:
                        - id: 21
                          name: Minnesota Lynx
                          rotNum: 100
                        - id: 22
                          name: Indiana Fever
                          rotNum: 101
                        - id: 23
                          name: Phoenix Mercury
                          rotNum: 102
                        - id: 24
                          name: Chicago Sky
                          rotNum: 103
              schema:
                $ref: '#/components/schemas/SpecialsFixturesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Special Fixtures - v1
      tags:
      - Fixtures
  /v1/fixtures/settled:
    get:
      description: Returns fixtures settled in the last 24 hours for the given sport.
      operationId: Fixtures_Settled_V1_Get
      parameters:
      - explode: true
        in: query
        name: sportId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: leagueIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: since
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    sportId: 0
                    last: 0
                    leagues:
                    - id: 0
                      events:
                      - id: 0
                        periods:
                        - number: 0
                          status: 0
                          settlementId: 0
                          settledAt: 2017-09-03T18:21:22.3846289-07:00
                          team1Score: 0
                          team2Score: 0
                          cancellationReason:
                            code: string
                            details:
                              correctTeam1Id: string
                              correctTeam2Id: string
                              correctListedPitcher1: string
                              correctListedPitcher2: string
                              correctSpread: "0.0"
                              correctTotalPoints: "0.0"
                              correctTeam1TotalPoints: "0.0"
                              correctTeam2TotalPoints: "0.0"
                              correctTeam1Score: "0"
                              correctTeam2Score: "0"
                              correctTeam1TennisSetsScore: "0"
                              correctTeam2TennisSetsScore: "0"
              schema:
                $ref: '#/components/schemas/SettledFixturesSport'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Settled Fixtures - v1
      tags:
      - Fixtures
  /v1/fixtures/special/settled:
    get:
      deprecated: false
      description: Returns all specials which are settled in the last 24 hours for
        the given Sport.
      operationId: Fixtures_Specials_Settled_V1_Get
      parameters:
      - description: Id of the sport for which to retrieve the settled specials.
        explode: true
        in: query
        name: sportId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Array of leagueIds. This is optional parameter.
        explode: true
        in: query
        name: leagueIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: This is used to receive incremental updates. Use the value of
          last from previous response.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    sportId: 0
                    last: 0
                    leagues:
                    - id: 0
                      specials:
                      - settledAt: 2017-10-11T15:05:50.996671Z
                        cancellationReason:
                          code: string
                          details:
                            correctTeam1Id: string
                            correctTeam2Id: string
                            correctListedPitcher1: string
                            correctListedPitcher2: string
                            correctSpread: "0.0"
                            correctTotalPoints: "0.0"
                            correctTeam1TotalPoints: "0.0"
                            correctTeam2TotalPoints: "0.0"
                            correctTeam1Score: "0"
                            correctTeam2Score: "0"
                            correctTeam1TennisSetsScore: "0"
                            correctTeam2TennisSetsScore: "0"
              schema:
                $ref: '#/components/schemas/SettledSpecialsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Settled Special Fixtures - v1
      tags:
      - Fixtures
  /v1/odds:
    get:
      description: Returns straight odds for all non-settled events. Please note that
        it is  possible that the event is in Get Fixtures response but not in Get
        Odds. This happens when the odds are not currently available for wagering.
      operationId: Odds_Straight_V1_Get
      parameters:
      - description: The sportid for which to retrieve the odds.
        explode: true
        in: query
        name: sportId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The leagueIds array may contain a list of comma separated league
          ids.
        explode: true
        in: query
        name: leagueIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Format in which we return the odds. Default is American. [American,
          Decimal, HongKong, Indonesian, Malay]
        explode: true
        in: query
        name: oddsFormat
        required: false
        schema:
          enum:
          - American
          - Decimal
          - HongKong
          - Indonesian
          - Malay
          type: string
        style: form
      - description: This is used to receive incremental updates. Use the value of
          last from previous odds response. When since parameter is not provided,
          the odds are delayed up to 1 min to encourage the use of the parameter.
          Please note that when using since parameter you will get in the response
          ONLY changed periods. If a period did not have any changes it will not be
          in the response.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: To retrieve ONLY live odds set the value to 1 (isLive=1). Otherwise
          response will have all odds.
        explode: true
        in: query
        name: isLive
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by EventIds
        explode: true
        in: query
        name: eventIds
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: 3 letter currency code as in the [/currency](https://pinnacleapi.github.io/linesapi#operation/Currencies_V2_Get)
          response. Limits will be returned in the requested currency. Default is
          USD.
        explode: true
        in: query
        name: toCurrencyCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OddsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
      summary: Get Straight Odds - v1
      tags:
      - Odds
  /v1/odds/special:
    get:
      deprecated: false
      description: Returns odds for specials for all non-settled events.
      operationId: Odds_Special_V1_Get
      parameters:
      - description: Format the odds are returned in. [American, Decimal, HongKong,
          Indonesian, Malay]
        explode: true
        in: query
        name: oddsFormat
        required: false
        schema:
          enum:
          - American
          - Decimal
          - HongKong
          - Indonesian
          - Malay
          type: string
        style: form
      - description: Id of a sport for which to retrieve the specials.
        explode: true
        in: query
        name: sportId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The leagueIds array may contain a list of comma separated league
          ids.
        explode: true
        in: query
        name: leagueIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: This is used to receive incremental updates. Use the value of
          last from previous response. When since parameter is not provided, the fixtures
          are delayed up to 1 min to encourage the use of the parameter.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Id of the special. This is an optional argument.
        explode: true
        in: query
        name: specialId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    sportId: 4
                    last: 636433059510590700
                    leagues:
                    - id: 487
                      specials:
                      - id: 1
                        maxBet: 100
                        contestantLines:
                        - id: 1
                          lineId: 1001
                          price: -199
                          handicap: null
                        - id: 2
                          lineId: 1002
                          price: -198
                          handicap: null
                      - id: 2
                        maxBet: 100
                        contestantLines:
                        - id: 3
                          lineId: 1003
                          price: -197
                          handicap: null
                        - id: 4
                          lineId: 1004
                          price: -196
                          handicap: null
                      - id: 3
                        maxBet: 100
                        contestantLines:
                        - id: 5
                          lineId: 1005
                          price: -195
                          handicap: null
                        - id: 6
                          lineId: 1006
                          price: -194
                          handicap: null
                      - id: 4
                        maxBet: 100
                        contestantLines:
                        - id: 7
                          lineId: 1007
                          price: -193
                          handicap: null
                        - id: 8
                          lineId: 1008
                          price: -192
                          handicap: null
                      - id: 5
                        maxBet: 100
                        contestantLines:
                        - id: 9
                          lineId: 1009
                          price: -191
                          handicap: null
                        - id: 10
                          lineId: 1010
                          price: -190
                          handicap: null
                      - id: 6
                        maxBet: 100
                        contestantLines:
                        - id: 11
                          lineId: 1011
                          price: -189
                          handicap: null
                        - id: 12
                          lineId: 1012
                          price: -188
                          handicap: null
                      - id: 7
                        maxBet: 100
                        contestantLines:
                        - id: 13
                          lineId: 1013
                          price: -187
                          handicap: null
                        - id: 14
                          lineId: 1014
                          price: -186
                          handicap: null
                      - id: 8
                        maxBet: 100
                        contestantLines:
                        - id: 15
                          lineId: 1015
                          price: -185
                          handicap: null
                        - id: 16
                          lineId: 1016
                          price: -184
                          handicap: null
                      - id: 9
                        maxBet: 100
                        contestantLines:
                        - id: 17
                          lineId: 1017
                          price: -183
                          handicap: null
                        - id: 18
                          lineId: 1018
                          price: -182
                          handicap: null
                        - id: 19
                          lineId: 1019
                          price: -181
                          handicap: null
                        - id: 20
                          lineId: 1020
                          price: -180
                          handicap: null
                    - id: 578
                      specials:
                      - id: 10
                        maxBet: 100
                        contestantLines:
                        - id: 21
                          lineId: 1021
                          price: -179
                          handicap: null
                        - id: 22
                          lineId: 1022
                          price: -178
                          handicap: null
                        - id: 23
                          lineId: 1023
                          price: -177
                          handicap: null
                        - id: 24
                          lineId: 1024
                          price: -176
                          handicap: null
              schema:
                $ref: '#/components/schemas/SpecialOddsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Special Odds - v1
      tags:
      - Odds
  /v1/line:
    get:
      description: Returns latest line.
      operationId: Line_Straight_V1_Get
      parameters:
      - description: League Id.
        explode: true
        in: query
        name: leagueId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: This is needed for SPREAD, TOTAL_POINTS and TEAM_TOTAL_POINTS
          bet types
        explode: true
        in: query
        name: handicap
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: Format in which we return the odds. Default is American.
        explode: true
        in: query
        name: oddsFormat
        required: true
        schema:
          enum:
          - American
          - Decimal
          - HongKong
          - Indonesian
          - Malay
          type: string
        style: form
      - description: Sport identification
        explode: true
        in: query
        name: sportId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Event identification
        explode: true
        in: query
        name: eventId
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: This represents the period of the match. For example, for soccer
          we have 0 (Game),  1 (1st Half) & 2 (2nd Half)
        explode: true
        in: query
        name: periodNumber
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Bet Type
        explode: true
        in: query
        name: betType
        required: true
        schema:
          enum:
          - SPREAD
          - MONEYLINE
          - TOTAL_POINTS
          - TEAM_TOTAL_POINTS
          type: string
        style: form
      - description: Chosen team type. This is needed only for SPREAD, MONEYLINE and
          TEAM_TOTAL_POINTS bet types
        explode: true
        in: query
        name: team
        required: false
        schema:
          enum:
          - Team1
          - Team2
          - Draw
          type: string
        style: form
      - description: Chosen side. This is needed only for TOTAL_POINTS and TEAM_TOTAL_POINTS
        explode: true
        in: query
        name: side
        required: false
        schema:
          enum:
          - OVER
          - UNDER
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Straight Line - v1
      tags:
      - Line
  /v1/line/special:
    get:
      deprecated: false
      description: Returns special lines and calculate odds.
      operationId: Line_Special_V1_Get
      parameters:
      - description: Format the odds are returned in. [American, Decimal, HongKong,
          Indonesian, Malay]
        explode: true
        in: query
        name: oddsFormat
        required: true
        schema:
          enum:
          - American
          - Decimal
          - HongKong
          - Indonesian
          - Malay
          type: string
        style: form
      - description: Id of the special.
        explode: true
        in: query
        name: specialId
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Id of the contestant.
        explode: true
        in: query
        name: contestantId
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: handicap of the contestant. As contestant's handicap is a mutable
          property, it may happened that line/special returns status:SUCCESS, but
          with the different handicap from the one that client had at the moment of
          calling the line/special. One can specify handicap parameter in the request
          and if the contestant's handicap changed, it would return status:NOT_EXISTS.
          This way line/special is more aligned to how /line works.
        explode: true
        in: query
        name: handicap
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialLineResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Special Line - v1
      tags:
      - Line
  /v2/sports:
    get:
      description: Returns all sports with the status whether they currently have
        lines or not.
      operationId: Sports_V2_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinesErrorResponse'
          description: InternalServerError
      summary: Get Sports - v2
      tags:
      - Others
  /v2/leagues:
    get:
      description: Returns all sports leagues with the status whether they currently
        have lines or not.
      operationId: Leagues_V2_Get
      parameters:
      - description: Sport id for which the leagues are requested.
        explode: true
        in: query
        name: sportId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leagues'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Leagues - v2
      tags:
      - Others
  /v1/periods:
    get:
      description: Returns all periods for a given sport.
      operationId: Periods_V1_Get
      parameters:
      - explode: true
        in: query
        name: sportId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    periods:
                    - number: 0
                      description: Match
                      shortDescription: FT
                      spreadDescription: Handicap
                      moneylineDescription: 1X2
                      totalDescription: Total
                      team1TotalDescription: Team 1 Goals
                      team2TotalDescription: Team 2 Goals
                      spreadShortDescription: HDP
                      moneylineShortDescription: 1X2
                      totalShortDescription: O/U
                      team1TotalShortDescription: Team 1 Goals
                      team2TotalShortDescription: Team 2 Goals
                    - number: 1
                      description: 1st Half
                      shortDescription: 1st H
                      spreadDescription: 1H Handicap
                      moneylineDescription: 1H 1X2
                      totalDescription: 1H Total
                      team1TotalDescription: 1H Team 1 Goals
                      team2TotalDescription: 1H Team 2 Goals
                      spreadShortDescription: 1H HDP
                      moneylineShortDescription: 1H 1X2
                      totalShortDescription: 1H O/U
                      team1TotalShortDescription: 1H GOAL
                      team2TotalShortDescription: 1H GOAL
                    - number: 2
                      description: 2nd Half
                      shortDescription: 2nd H
                      spreadDescription: 2H Handicap
                      moneylineDescription: 2H 1X2
                      totalDescription: 2H Total
                      team1TotalDescription: 2H Team 1 Goals
                      team2TotalDescription: 2H Team 2 Goals
                      spreadShortDescription: 2H HDP
                      moneylineShortDescription: 2H 1X2
                      totalShortDescription: 2H O/U
                      team1TotalShortDescription: 2H GOAL
                      team2TotalShortDescription: 2H GOAL
              schema:
                $ref: '#/components/schemas/SportPeriod'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Periods - v1
      tags:
      - Others
  /v1/inrunning:
    get:
      description: Returns all live soccer events that have a status that indicates
        the event is in progress.
      operationId: InRunning_V1_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InRunningResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedLinesErrorResponse'
          description: InternalServerError
      summary: Get In-Running - v1
      tags:
      - Others
  /v1/teaser/groups:
    get:
      description: Returns all teaser groups.
      operationId: Teaser_Groups_V1_Get
      parameters:
      - description: Format the odds are returned in. [American, Decimal, HongKong,
          Indonesian, Malay]
        explode: true
        in: query
        name: oddsFormat
        required: true
        schema:
          enum:
          - American
          - Decimal
          - HongKong
          - Indonesian
          - Malay
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeaserGroupsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: BadRequest
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Teaser Groups - v1
      tags:
      - Others
  /v1/cancellationreasons:
    get:
      description: Lookup for all the cancellation reasons
      operationId: CancellationReasons_V1_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationReasonResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Cancellation Reasons - v1
      tags:
      - Others
  /v2/currencies:
    get:
      description: Returns the list of supported currencies
      operationId: Currencies_V2_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulCurrenciesResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorResponse'
          description: InternalServerError
      summary: Get Currencies - v2
      tags:
      - Others
components:
  schemas:
    ErrorResponse:
      properties:
        code:
          description: "INVALID_REQUEST_DATA  = Invalid request parameters (http status\
            \ 400)  \nINVALID_CREDENTIALS = Authorization failed, invalid credentials\
            \ (http status 401)  \nINVALID_AUTHORIZATION_HEADER = HTTP Authorization\
            \ header is missing (http status 401) \nACCOUNT_INACTIVE = Client's account\
            \ is not active (http status 403)  \nNO_API_ACCESS = Account not permitted\
            \ to access the API (http status 403) \nRESUBMIT_REQUEST = It can happen\
            \ only when placing a bet (http status 400).  Unable to process the request\
            \ but the request itself is valid. This happens more often on the live\
            \ betting in situations when there is more than one place bet request\
            \ at the same on the same line. When this happens, we don't keep the place\
            \ bet request on the server until we know if we can accept or reject the\
            \ bet, but instead we return the error. It's also very likely that the\
            \ line will change after that. To reduce a chance of getting RESUBMIT_REQUEST\
            \ client should try to place a bet as fast as possible. \n"
          enum:
          - INVALID_REQUEST_DATA
          - INVALID_CREDENTIALS
          - INVALID_AUTHORIZATION_HEADER
          - ACCOUNT_INACTIVE
          - NO_API_ACCESS
          - RESUBMIT_REQUEST
          type: string
        message:
          type: string
      type: object
    ExtendedErrorResponse:
      properties:
        ref:
          type: string
        code:
          type: string
        message:
          type: string
      type: object
    ClientBalanceResponse:
      description: Client Balance Details
      example:
        outstandingTransactions: 6.027456183070403
        currency: currency
        givenCredit: 1.4658129805029452
        availableBalance: 0.8008281904610115
      properties:
        availableBalance:
          description: Amount available for betting.
          format: double
          type: number
        outstandingTransactions:
          description: Sum of not yet settled bet amounts.
          format: double
          type: number
        givenCredit:
          description: Client’s credit.
          format: double
          type: number
        currency:
          description: Client’s currency code.
          type: string
      required:
      - availableBalance
      - currency
      - givenCredit
      - outstandingTransactions
      type: object
    TranslationResponse:
      example:
        translations:
        - cultures:
          - id: fr-FR
            text: Football américain
          - id: fr-FR
            text: Football américain
          text: Football
        - cultures:
          - id: fr-FR
            text: Football américain
          - id: fr-FR
            text: Football américain
          text: Football
      properties:
        translations:
          description: Collection of translations.
          items:
            $ref: '#/components/schemas/Translation'
          type: array
      type: object
    Translation:
      example:
        cultures:
        - id: fr-FR
          text: Football américain
        - id: fr-FR
          text: Football américain
        text: Football
      properties:
        text:
          description: Original requested text to be translated.
          example: Football
          type: string
        cultures:
          description: Collection of translations by culture.
          items:
            $ref: '#/components/schemas/TranslationByCulture'
          type: array
      type: object
    TranslationByCulture:
      example:
        id: fr-FR
        text: Football américain
      properties:
        id:
          description: Culture based on which the text is translated.
          enum:
          - en-US
          - en-GB
          - zh-CN
          - zh-TW
          - fi-FI
          - de-DE
          - he-IL
          - it-IT
          - nb-NO
          - pt-BR
          - ru-RU
          - es-ES
          - sv-SE
          - th-TH
          - pl-PL
          - fr-FR
          - ja-JP
          - ko-KR
          - vi-VN
          - id-ID
          - cs-CZ
          example: fr-FR
          type: string
        text:
          description: Translation text.
          example: Football américain
          type: string
      type: object
    PlaceBetRequest:
      description: Request to place a bet.
      example:
        oddsFormat: DECIMAL
        eventId: 757504261
        periodNumber: 0
        side: OVER
        pitcher1MustStart: true
        pitcher2MustStart: true
        lineId: 420921914
        team: TEAM1
        betType: MONEYLINE
        winRiskStake: RISK
        uniqueRequestId: d5cc50e4-284d-4d50-8d49-429bdc4f2a48
        stake: 10.5
        acceptBetterLine: true
        sportId: 29
        altLineId: 0
        fillType: NORMAL
      properties:
        oddsFormat:
          $ref: '#/components/schemas/OddsFormat'
        uniqueRequestId:
          description: This is a Unique ID for PlaceBet requests. This is to support
            idempotent requests.
          example: d5cc50e4-284d-4d50-8d49-429bdc4f2a48
          format: uuid
          type: string
        acceptBetterLine:
          description: Whether or not to accept a bet when there is a line change
            in favor of the client.
          example: true
          type: boolean
        stake:
          description: amount in client’s currency.
          example: 10.5
          format: double
          type: number
        winRiskStake:
          description: Whether the stake amount is risk or win amount.
          enum:
          - WIN
          - RISK
          example: RISK
          type: string
        lineId:
          description: Line identification.
          example: 420921914
          format: int64
          type: integer
        altLineId:
          description: Alternate line identification.
          format: int64
          nullable: true
          type: integer
        pitcher1MustStart:
          description: Baseball only. Refers to the pitcher for Team1. This applicable
            only for MONEYLINE bet type, for all other bet types this has to be TRUE.
          type: boolean
        pitcher2MustStart:
          description: Baseball only. Refers to the pitcher for Team2. This applicable
            only for MONEYLINE bet type, for all other bet types this has to be TRUE.
          type: boolean
        fillType:
          default: NORMAL
          description: "NORMAL - bet will be placed on specified stake.  \nFILLANDKILL\
            \ - If the stake is over the max limit, bet will be placed on max limit,\
            \ otherwise it will be placed on specified stake.  \nFILLMAXLIMIT - bet\
            \ will be places on max limit, stake amount will be ignored. Please note\
            \ that maximum limits can change at any moment, which may result in risking\
            \ more than anticipated. This option is replacement of isMaxStakeBet from\
            \ v1/bets/place'\n"
          enum:
          - NORMAL
          - FILLANDKILL
          - FILLMAXLIMIT
          example: NORMAL
          type: string
        sportId:
          example: 29
          format: int32
          type: integer
        eventId:
          example: 757504261
          format: int64
          type: integer
        periodNumber:
          example: 0
          format: int32
          type: integer
        betType:
          description: Bet type.
          enum:
          - MONEYLINE
          - TEAM_TOTAL_POINTS
          - SPREAD
          - TOTAL_POINTS
          example: MONEYLINE
          type: string
        team:
          description: Team type.
          enum:
          - TEAM1
          - TEAM2
          - DRAW
          example: TEAM1
          type: string
        side:
          description: Side type.
          enum:
          - OVER
          - UNDER
          nullable: true
          type: string
      type: object
    PlaceBetResponseV2:
      example:
        uniqueRequestId: D5CC50E4-284D-4D50-8D49-429BDC4F2A4
        straightBet:
          teamName: Crvena Zvezda
          team1Score: 5.962133916683182
          oddsFormat: DECIMAL
          pitcher2MustStart: pitcher2MustStart
          customerCommission: 6.027456183070403
          pTeam1Score: 9.301444243932576
          isLive: "false"
          ftTeam1Score: 2.3021358869347655
          leagueId: 2462
          price: -155
          betId: 759629245
          placedAt: 2017-09-05T01:32:59Z
          win: 1
          eventId: 757064557
          side: OVER
          pitcher2: pitcher2
          periodNumber: 0
          pitcher1: pitcher1
          updateSequence: 111548915
          cancellationReason:
            code: FBS_CW_227
            details:
            - key: correctSpread
              value: -1.5
          handicap: 1.4658129805029452
          team1: Crvena Zvezda
          ftTeam2Score: 7.061401241503109
          pitcher1MustStart: pitcher1MustStart
          team2: Partizan
          betStatus: ACCEPTED
          betType: MONEYLINE
          team2Score: 5.637376656633329
          sportId: 29
          wagerNumber: 1
          risk: 1.5
          winLoss: 0.8008281904610115
          pTeam2Score: 3.616076749251911
        errorCode: ALL_BETTING_CLOSED
        status: ACCEPTED
      properties:
        status:
          description: Status of the response.
          enum:
          - ACCEPTED
          - PENDING_ACCEPTANCE
          - PROCESSED_WITH_ERROR
          example: ACCEPTED
          type: string
        errorCode:
          description: "If Status is PROCESSED_WITH_ERROR, errorCode will be in the\
            \ response. \n\nALL_BETTING_CLOSED = Betting is not allowed at this moment.\
            \ This may happen during system maintenance,  \nALL_LIVE_BETTING_CLOSED\
            \ = Live betting is not allowed at this moment. This may happen during\
            \ system maintenance,  \nABOVE_EVENT_MAX = Bet cannot be placed because\
            \ client exceeded allowed maximum of risk on a line,  \nABOVE_MAX_BET_AMOUNT\
            \ = Stake is above allowed maximum amount,   \nBELOW_MIN_BET_AMOUNT =\
            \ Stake is below allowed minimum amount,  \nBLOCKED_BETTING = Betting\
            \ is suspended for the client,  \nBLOCKED_CLIENT = Client is no longer\
            \ active,   \nINSUFFICIENT_FUNDS = Bet is submitted by a client with insufficient\
            \ funds,  \nINVALID_COUNTRY = Client country is not allowed for betting,\
            \  \nINVALID_EVENT = Invalid eventid,  \nINVALID_ODDS_FORMAT = If a bet\
            \ was submitted with the odds format that is not allowed for the client,\
            \  \nLINE_CHANGED = Bet is submitted on a line that has changed,  \nLISTED_PITCHERS_SELECTION_ERROR\
            \ = If bet was submitted with pitcher1MustStart and/or pitcher2MustStart\
            \ parameters in Place Bet request with values that are not allowed,  \n\
            OFFLINE_EVENT = Bet is submitted on an event that is offline or the submitted\
            \ line is not offered at the moment due to points/handicap change or the\
            \ submitted bet type is just not offered at the moment,  \nPAST_CUTOFFTIME\
            \ = Bet is submitted on a game after the betting cutoff time,  \nRED_CARDS_CHANGED\
            \ = Bet is submitted on a live soccer event with changed red card count,\
            \  \nSCORE_CHANGED = Bet is submitted on a live soccer event with changed\
            \ score,  \nTIME_RESTRICTION = Bet is submitted within too short of a\
            \ period from the same bet previously placed by a client,  \nDUPLICATE_UNIQUE_REQUEST_ID\
            \ = Request with the same uniqueRequestId was already processed. Please\
            \ set the new value if you still want the request to be processed,  \n\
            INCOMPLETE_CUSTOMER_BETTING_PROFILE = System configuration issue,  \n\
            INVALID_CUSTOMER_PROFILE = System configuration issue,  \nLIMITS_CONFIGURATION_ISSUE\
            \ = System configuration issue,  \nRESPONSIBLE_BETTING_LOSS_LIMIT_EXCEEDED\
            \ = Client has reached his total loss limit,  \nRESPONSIBLE_BETTING_RISK_LIMIT_EXCEEDED\
            \ = Client has reached his total risk limit,  \nSYSTEM_ERROR_3 = Unexpected\
            \ error,  \nLICENCE_RESTRICTION_LIVE_BETTING_BLOCKED - Live betting blocked\
            \ due to licence restrictions\n"
          enum:
          - ALL_BETTING_CLOSED
          - ALL_LIVE_BETTING_CLOSED
          - ABOVE_EVENT_MAX
          - ABOVE_MAX_BET_AMOUNT
          - BELOW_MIN_BET_AMOUNT
          - BLOCKED_BETTING
          - BLOCKED_CLIENT
          - INSUFFICIENT_FUNDS
          - INVALID_COUNTRY
          - INVALID_EVENT
          - INVALID_ODDS_FORMAT
          - LINE_CHANGED
          - LISTED_PITCHERS_SELECTION_ERROR
          - OFFLINE_EVENT
          - PAST_CUTOFFTIME
          - RED_CARDS_CHANGED
          - SCORE_CHANGED
          - TIME_RESTRICTION
          - DUPLICATE_UNIQUE_REQUEST_ID
          - INCOMPLETE_CUSTOMER_BETTING_PROFILE
          - INVALID_CUSTOMER_PROFILE
          - LIMITS_CONFIGURATION_ISSUE
          - RESPONSIBLE_BETTING_LOSS_LIMIT_EXCEEDED
          - RESPONSIBLE_BETTING_RISK_LIMIT_EXCEEDED
          - SYSTEM_ERROR_3
          - LICENCE_RESTRICTION_LIVE_BETTING_BLOCKED
          nullable: true
          type: string
        uniqueRequestId:
          description: Echo of the uniqueRequestId from the request.
          example: D5CC50E4-284D-4D50-8D49-429BDC4F2A4
          type: string
        straightBet:
          $ref: '#/components/schemas/StraightBet'
      type: object
    StraightBet:
      example:
        teamName: Crvena Zvezda
        team1Score: 5.962133916683182
        oddsFormat: DECIMAL
        pitcher2MustStart: pitcher2MustStart
        customerCommission: 6.027456183070403
        pTeam1Score: 9.301444243932576
        isLive: "false"
        ftTeam1Score: 2.3021358869347655
        leagueId: 2462
        price: -155
        betId: 759629245
        placedAt: 2017-09-05T01:32:59Z
        win: 1
        eventId: 757064557
        side: OVER
        pitcher2: pitcher2
        periodNumber: 0
        pitcher1: pitcher1
        updateSequence: 111548915
        cancellationReason:
          code: FBS_CW_227
          details:
          - key: correctSpread
            value: -1.5
        handicap: 1.4658129805029452
        team1: Crvena Zvezda
        ftTeam2Score: 7.061401241503109
        pitcher1MustStart: pitcher1MustStart
        team2: Partizan
        betStatus: ACCEPTED
        betType: MONEYLINE
        team2Score: 5.637376656633329
        sportId: 29
        wagerNumber: 1
        risk: 1.5
        winLoss: 0.8008281904610115
        pTeam2Score: 3.616076749251911
      properties:
        betId:
          description: Bet identification
          example: 759629245
          format: int64
          type: integer
        wagerNumber:
          description: Wager identification. All bets placed thru the API will have
            value 1. Website Classic view supports multiple contest(special) bets
            placement in the same bet slip in that case the bet would have appropriate
            wager number, as well as all round robin parlay bets.
          example: 1
          format: int32
          type: integer
        placedAt:
          description: Date time when the bet was placed.
          example: 2017-09-05T01:32:59Z
          format: date-time
          type: string
        betStatus:
          description: "Bet Status.  \n\nACCEPTED = Bet was accepted,  \nCANCELLED\
            \ = Bet is cancelled as per Pinnacle betting rules,  \nLOSE = The bet\
            \ is settled as lose,  \nPENDING_ACCEPTANCE = This status is reserved\
            \ only for live bets. If a live bet is placed during danger zone or live\
            \ delay is applied, it will be in PENDING_ACCEPTANCE , otherwise in ACCEPTED\
            \ status. From this status bet can go to ACCEPTED or NOT_ACCEPTED status,\
            \  \nREFUNDED = When an event is cancelled or when the bet is settled\
            \ as push, the bet will have REFUNDED status,  \nNOT_ACCEPTED = Bet was\
            \ not accepted. Bet can be in this status only if it was previously in\
            \ PENDING_ACCEPTANCE status,  \nWON = The bet is settled as won \n"
          enum:
          - ACCEPTED
          - CANCELLED
          - LOSE
          - PENDING_ACCEPTANCE
          - REFUNDED
          - NOT_ACCEPTED
          - WON
          example: ACCEPTED
          type: string
        betType:
          description: Bet type.
          enum:
          - MONEYLINE
          - TEAM_TOTAL_POINTS
          - SPREAD
          - TOTAL_POINTS
          - SPECIAL
          - PARLAY
          - TEASER
          - MANUAL
          example: MONEYLINE
          type: string
        win:
          description: Win amount.
          example: 1
          format: double
          type: number
        risk:
          description: Risk amount.
          example: 1.5
          format: double
          type: number
        winLoss:
          description: Win-Loss for settled bets.
          format: double
          nullable: true
          type: number
        oddsFormat:
          $ref: '#/components/schemas/OddsFormat'
        customerCommission:
          description: Client’s commission on the bet.
          format: double
          nullable: true
          type: number
        cancellationReason:
          $ref: '#/components/schemas/CancellationReason'
        updateSequence:
          description: Update Sequence
          example: 111548915
          format: int64
          type: integer
        sportId:
          example: 29
          format: int32
          type: integer
        leagueId:
          example: 2462
          format: int32
          type: integer
        eventId:
          example: 757064557
          format: int64
          type: integer
        handicap:
          format: double
          nullable: true
          type: number
        price:
          example: -155
          format: double
          type: number
        teamName:
          example: Crvena Zvezda
          type: string
        side:
          description: Side type.
          enum:
          - OVER
          - UNDER
          nullable: true
          type: string
        pitcher1:
          description: Pitcher name of team1. Only for bets on baseball.
          nullable: true
          type: string
        pitcher2:
          description: Pitcher name of team2. Only for bets on baseball.
          nullable: true
          type: string
        pitcher1MustStart:
          description: Whether the team1 pitcher must start. Only for bets on baseball.
          nullable: true
          type: string
        pitcher2MustStart:
          description: Whether the team1 pitcher must start. Only for bets on baseball.
          nullable: true
          type: string
        team1:
          example: Crvena Zvezda
          type: string
        team2:
          example: Partizan
          type: string
        periodNumber:
          example: 0
          format: int32
          type: integer
        team1Score:
          description: Team 1 score that the bet was placed on, only for live bets.
          format: double
          nullable: true
          type: number
        team2Score:
          description: Team 2 score that the bet was placed, only for live bets.
          format: double
          nullable: true
          type: number
        ftTeam1Score:
          description: Full time team 1 score, only for settled bets.
          format: double
          nullable: true
          type: number
        ftTeam2Score:
          description: Full time team 2 score, only for settled bets.
          format: double
          nullable: true
          type: number
        pTeam1Score:
          description: '.End of period team 1 score, only for settled bets. If the
            bet was placed on Game period (periodNumber =0) , this will be null . '
          format: double
          nullable: true
          type: number
        pTeam2Score:
          description: End of period team 2 score, only for settled bets. If the bet
            was placed on Game period (periodNumber =0), this will be null
          format: double
          nullable: true
          type: number
        isLive:
          description: Whether the bet is on live event
          example: "false"
          type: string
      required:
      - betId
      - betStatus
      - betType
      - oddsFormat
      - placedAt
      - risk
      - updateSequence
      - wagerNumber
      - win
      type: object
    StraightBetV3:
      example:
        teamName: Crvena Zvezda
        team1Score: 7.061401241503109
        oddsFormat: DECIMAL
        pitcher2MustStart: false
        customerCommission: 5.637376656633329
        pTeam1Score: 4.145608029883936
        isLive: false
        ftTeam1Score: 3.616076749251911
        leagueId: 2462
        price: -155
        betId: 759629245
        eventStartTime: 2017-10-05T01:32:59Z
        placedAt: 2017-09-05T01:32:59Z
        win: 1
        eventId: 757064557
        side: OVER
        pitcher2: pitcher2
        periodNumber: 0
        pitcher1: pitcher1
        updateSequence: 111548915
        cancellationReason:
          code: FBS_CW_227
          details:
          - key: correctSpread
            value: -1.5
        handicap: 2.3021358869347655
        team1: Crvena Zvezda
        ftTeam2Score: 2.027123023002322
        pitcher1MustStart: false
        team2: Partizan
        betStatus: ACCEPTED
        betType: MONEYLINE
        team2Score: 9.301444243932576
        sportId: 29
        wagerNumber: 1
        risk: 1.5
        winLoss: 5.962133916683182
        pTeam2Score: 7.386281948385884
      properties:
        betId:
          description: Bet identification
          example: 759629245
          format: int64
          type: integer
        wagerNumber:
          description: Wager identification. All bets placed thru the API will have
            value 1. Website Classic view supports multiple contest(special) bets
            placement in the same bet slip in that case the bet would have appropriate
            wager number, as well as all round robin parlay bets.
          example: 1
          format: int32
          type: integer
        placedAt:
          description: Date time when the bet was placed.
          example: 2017-09-05T01:32:59Z
          format: date-time
          type: string
        betStatus:
          description: "Bet Status.  \n\nACCEPTED = Bet was accepted,  \nCANCELLED\
            \ = Bet is cancelled as per Pinnacle betting rules,  \nLOSE = The bet\
            \ is settled as lose,  \nPENDING_ACCEPTANCE = This status is reserved\
            \ only for live bets. If a live bet is placed during danger zone or live\
            \ delay is applied, it will be in PENDING_ACCEPTANCE , otherwise in ACCEPTED\
            \ status. From this status bet can go to ACCEPTED or NOT_ACCEPTED status,\
            \  \nREFUNDED = When an event is cancelled or when the bet is settled\
            \ as push, the bet will have REFUNDED status,  \nNOT_ACCEPTED = Bet was\
            \ not accepted. Bet can be in this status only if it was previously in\
            \ PENDING_ACCEPTANCE status,  \nWON = The bet is settled as won \n"
          enum:
          - ACCEPTED
          - CANCELLED
          - LOSE
          - PENDING_ACCEPTANCE
          - REFUNDED
          - NOT_ACCEPTED
          - WON
          example: ACCEPTED
          type: string
        betType:
          description: Bet type.
          enum:
          - MONEYLINE
          - TEAM_TOTAL_POINTS
          - SPREAD
          - TOTAL_POINTS
          - SPECIAL
          - PARLAY
          - TEASER
          - MANUAL
          example: MONEYLINE
          type: string
        win:
          description: Win amount.
          example: 1
          format: double
          type: number
        risk:
          description: Risk amount.
          example: 1.5
          format: double
          type: number
        winLoss:
          description: Win-Loss for settled bets.
          format: double
          nullable: true
          type: number
        oddsFormat:
          $ref: '#/components/schemas/OddsFormat'
        customerCommission:
          description: Client’s commission on the bet.
          format: double
          nullable: true
          type: number
        cancellationReason:
          $ref: '#/components/schemas/CancellationReason'
        updateSequence:
          description: Update Sequence
          example: 111548915
          format: int64
          type: integer
        sportId:
          example: 29
          format: int32
          type: integer
        leagueId:
          example: 2462
          format: int32
          type: integer
        eventId:
          example: 757064557
          format: int64
          type: integer
        handicap:
          format: double
          nullable: true
          type: number
        price:
          example: -155
          format: double
          type: number
        teamName:
          example: Crvena Zvezda
          type: string
        side:
          description: Side type.
          enum:
          - OVER
          - UNDER
          nullable: true
          type: string
        pitcher1:
          description: Pitcher name of team1. Only for bets on baseball.
          nullable: true
          type: string
        pitcher2:
          description: Pitcher name of team2. Only for bets on baseball.
          nullable: true
          type: string
        pitcher1MustStart:
          description: Baseball only. Refers to the pitcher for Team1.  This applicable
            only for MONEYLINE bet type, for all other bet types this has to be TRUE.
          example: false
          nullable: true
          type: boolean
        pitcher2MustStart:
          description: Baseball only. Refers to the pitcher for Team2.  This applicable
            only for MONEYLINE bet type, for all other bet types this has to be TRUE.
          example: false
          nullable: true
          type: boolean
        team1:
          example: Crvena Zvezda
          type: string
        team2:
          example: Partizan
          type: string
        periodNumber:
          example: 0
          format: int32
          type: integer
        team1Score:
          description: Team 1 score that the bet was placed on, only for live bets.
          format: double
          nullable: true
          type: number
        team2Score:
          description: Team 2 score that the bet was placed, only for live bets.
          format: double
          nullable: true
          type: number
        ftTeam1Score:
          description: Full time team 1 score, only for settled bets.
          format: double
          nullable: true
          type: number
        ftTeam2Score:
          description: Full time team 2 score, only for settled bets.
          format: double
          nullable: true
          type: number
        pTeam1Score:
          description: '.End of period team 1 score, only for settled bets. If the
            bet was placed on Game period (periodNumber =0), this will be null . '
          format: double
          nullable: true
          type: number
        pTeam2Score:
          description: End of period team 2 score, only for settled bets. If the bet
            was placed on Game period (periodNumber =0), this will be null
          format: double
          nullable: true
          type: number
        isLive:
          description: Whether the bet is on live event
          example: false
          type: boolean
        eventStartTime:
          description: Date time when the event starts.
          example: 2017-10-05T01:32:59Z
          format: date-time
          type: string
      required:
      - betId
      - betStatus
      - betType
      - oddsFormat
      - placedAt
      - risk
      - updateSequence
      - wagerNumber
      - win
      type: object
    CancellationReason:
      description: "Possible keys \\:  \n* correctTeam1Id\n* correctTeam2Id\n* correctListedPitcher1\n\
        * correctListedPitcher2\n* correctSpread\n* correctTotalPoints\n* correctTeam1TotalPoints\n\
        * correctTeam2TotalPoints\n* correctTeam1Score\n* correctTeam2Score\n* correctTeam1TennisSetsScore\n\
        * correctTeam2TennisSetsScore\n"
      example:
        code: FBS_CW_227
        details:
        - key: correctSpread
          value: -1.5
      properties:
        code:
          example: FBS_CW_227
          type: string
        details:
          example:
          - key: correctSpread
            value: -1.5
          items:
            $ref: '#/components/schemas/CancellationDetailsItem'
          type: array
      required:
      - code
      type: object
    CancellationDetails:
      example:
      - key: correctSpread
        value: -1.5
      items:
        $ref: '#/components/schemas/CancellationDetailsItem'
      type: array
    CancellationDetailsItem:
      properties:
        key:
          example: correctSpread
          type: string
        value:
          example: "1.5"
          type: string
      type: object
    ErrorResponseWithErrorRef:
      properties:
        ref:
          example: f5d9ba85-cc97-47a9-ad92-ea57d0ea2cc0
          type: string
        code:
          example: UNEXPECTED_ERROR
          type: string
        message:
          example: Internal error
          type: string
      type: object
    ParlayBet:
      example:
        oddsFormat: DECIMAL
        updateSequence: 112839436
        cancellationReason:
          code: FBS_CW_227
          details:
          - key: correctSpread
            value: -1.5
        finalPrice: 0
        customerCommission: 1.0246457001441578
        betStatus: ACCEPTED
        betType: PARLAY
        uniqueRequestId: 10924e23-a2fe-4317-bffd-80504675f554
        wagerNumber: 1
        price: 682
        legs:
        - teamName: Adelaide United
          eventId: 758024079
          side: OVER
          pitcher2: pitcher2
          periodNumber: 0
          pitcher1: pitcher1
          cancellationReason:
            code: FBS_CW_227
            details:
            - key: correctSpread
              value: -1.5
          handicap: 1.4894159098541704
          team1: team1
          ftTeam2Score: 7.457744773683766
          pitcher1MustStart: false
          team2: team2
          pitcher2MustStart: false
          legBetStatus: CANCELLED
          legBetType: MONEYLINE
          pTeam1Score: 1.1730742509559433
          sportId: 29
          ftTeam1Score: 6.84685269835264
          leagueId: 1766
          price: 193
          eventStartTime: 2017-10-05T01:32:59Z
          pTeam2Score: 4.965218492984954
        - teamName: Adelaide United
          eventId: 758024079
          side: OVER
          pitcher2: pitcher2
          periodNumber: 0
          pitcher1: pitcher1
          cancellationReason:
            code: FBS_CW_227
            details:
            - key: correctSpread
              value: -1.5
          handicap: 1.4894159098541704
          team1: team1
          ftTeam2Score: 7.457744773683766
          pitcher1MustStart: false
          team2: team2
          pitcher2MustStart: false
          legBetStatus: CANCELLED
          legBetType: MONEYLINE
          pTeam1Score: 1.1730742509559433
          sportId: 29
          ftTeam1Score: 6.84685269835264
          leagueId: 1766
          price: 193
          eventStartTime: 2017-10-05T01:32:59Z
          pTeam2Score: 4.965218492984954
        betId: 760404490
        risk: 1
        winLoss: 1.2315135367772556
        placedAt: 2017-09-08T00:55:11Z
        win: 6.82
      properties:
        betId:
          description: Bet identification
          example: 760404490
          format: int64
          type: integer
        uniqueRequestId:
          description: Unique Request Id
          example: 10924e23-a2fe-4317-bffd-80504675f554
          format: uuid
          type: string
        wagerNumber:
          description: Wager identification. All bets placed thru the API will have
            value 1. Website Classic view supports multiple contest(special) bets
            placement in the same bet slip in that case the bet would have appropriate
            wager number, as well as all round robin parlay bets.
          example: 1
          format: int32
          type: integer
        placedAt:
          description: Date time when the bet was placed.
          example: 2017-09-08T00:55:11Z
          format: date-time
          type: string
        betStatus:
          description: "Bet Status. \n\nACCEPTED = Bet was accepted,  \nCANCELLED\
            \ = Bet is cancelled as per Pinnacle betting rules,  \nLOSE = The bet\
            \ is settled as lose,  \nPENDING_ACCEPTANCE = This status is reserved\
            \ only for live bets. If a live bet is placed during danger zone or live\
            \ delay is applied, it will be in PENDING_ACCEPTANCE , otherwise in ACCEPTED\
            \ status. From this status bet can go to ACCEPTED or REJECTED status,\
            \  \nREFUNDED = When an event is cancelled or when the bet is settled\
            \ as push, the bet will have REFUNDED status,  \nNOT_ACCEPTED = Bet was\
            \ not accepted. Bet can be in this status only if it was previously in\
            \ PENDING_ACCEPTANCE status,  \nWON = The bet is settled as won\n"
          enum:
          - ACCEPTED
          - CANCELLED
          - LOSE
          - PENDING_ACCEPTANCE
          - REFUNDED
          - NOT_ACCEPTED
          - WON
          example: ACCEPTED
          type: string
        betType:
          default: PARLAY
          example: PARLAY
          type: string
        win:
          description: Win amount.
          example: 6.82
          format: double
          type: number
        risk:
          description: Risk amount.
          example: 1
          format: double
          type: number
        winLoss:
          description: Win-Loss for settled bets.
          format: double
          nullable: true
          type: number
        oddsFormat:
          $ref: '#/components/schemas/OddsFormat'
        customerCommission:
          description: Client’s commission on the bet.
          format: double
          nullable: true
          type: number
        cancellationReason:
          $ref: '#/components/schemas/CancellationReason'
        updateSequence:
          description: Update Sequence
          example: 112839436
          format: int64
          type: integer
        legs:
          items:
            $ref: '#/components/schemas/ParlayLeg'
[...]
