openapi: 3.0.1
info:
  title: Black API
  version: 1.0.0
servers:
  - url: 'https://black.betinasia.com'
security:
  - session: []
paths:
  /v1/orders/{order_id}/log/:
    get:
      tags:
        - Bet
      operationId: BetLog
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetLogResponse'

  /v1/orders/{order_id}/:
    get:
      tags:
        - Bet
      operationId: BetById
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceBetResponse'

  /v1/orders/:
    get:
      tags:
        - Bet
      operationId: BetList
      parameters:
        - in: query
          name: order_by
          example: placement_time desc
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: date_from
          schema:
            type: string
          example: 2020-05-25T21:00
        - in: query
          name: sport
          schema:
            type: string
        - in: query
          name: event_id
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetListResponse'

    post:
      tags:
        - Bet
      operationId: PlaceBet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBetRequest'
      responses:
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'

        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceBetResponse'

  /v1/customers/{username}/accounting_info/:
    get:
      tags:
        - User
      operationId: Balance
      parameters:
        - required: true
          in: path
          name: username
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'

  /v1/betslips/{betslip_id}/refresh/:
    post:
      tags:
        - Bet
      operationId: RefreshBetSlip
      parameters:
        - in: path
          name: betslip_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshBetSlipResponse'

  /v1/betslips/:
    post:
      tags:
        - Bet
      operationId: BetSlip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetSlipRequest'

      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetSlipResponse'

  /s/prices/eventdata1/:
    post:
      tags:
        - Market
      operationId: GetEvents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetEventsRequest'

      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponse'


  /s/weblogin/{session}/:
    get:
      tags:
        - User
      operationId: CheckLogin
      parameters:
        - name: session
          in: path
          required: true
          schema:
            type: string
        - name:  full
          in: query
          schema:
            type: boolean
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'

  /s/weblogin/:
    post:
      tags:
        - User
      operationId: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
components:
  securitySchemes:
    session:
      type: apiKey
      in: header
      name: session

  schemas:
    LoginRequest:
      type: object
      required:
        - password
        - username
        - full
        - lang
      example:
        {username: "wqerqw", password: "qwerqwer", full: true, lang: "en"}
      properties:
        username:
          type: string
        password:
          type: string
        full:
          type: boolean
          default: true
        lang:
          type: string
          default: en
    LoginResponse:
      type: object
      example:
        {"status": "ok", "data": {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            "whitelabel": "sportmarket",
          "username": "demo26",
          "customer_id": 26289,
          "lang": "en",
          "client_type": "website",
          "can_place_bets": {"can_place_bets": false, "reason": "no_web_place_permission", "country": "UA", "ip_address": "46.119.113.119"},
          "extra": {"whitelabel": "sportmarket",
                    "is_ares": true,
                    "lang": "en",
                    "user_agent": {"browser": {"family": "Chrome", "version": "81.0.4044"}, "os": {"family": "Windows", "version": "10"},
                                   "device": {"family": "Other", "brand": null},
                                   "is_mobile": false,
                                   "is_pc": true,
                                   "is_tablet": false,
                                   "is_touch_capable": false},
                    "time": 1590063407.0580847},
          "session_id": "dc328b98dad807b26d9cc0a013e36dc4",
          "userprefs": {"favourite_competitions": ["1", "12", "16", "19", "38", "193", "10001419"],
                        "favourite_events": [],
                        "prices_bookies": ["sing2", "spm", "isn", "pin88", "bdaq", "bf", "mbook", "sbo", "18bet", "3et"],
                        "confirm_bet": true,
                        "user_trade_view": "default",
                        "home_sport": "fb",
                        "betslip_default_timeout": 10,
                        "price_type": "dec",
                        "default_stake": null,
                        "default_price": null,
                        "ares_eventlistitem_markets.fb": ["ah"],
                        "ares_eventlistitem_markets.fb_corn": ["ahou"],
                        "ares_eventlistitem_markets.tennis": ["tennis_match:all"],
                        "ares_eventlistitem_markets.cricket": ["time_win:tp,reg,wdw"],
                        "ares_eventlistitem_markets.af": ["time_ah:tp,all"],
                        "ares_eventlistitem_markets.ru": ["time_ah:tp,all"],
                        "ares_eventlistitem_markets.baseball": ["time_win:tp,all,ml"],
                        "ares_eventlistitem_markets.basket": ["ah"],
                        "ares_eventlistitem_markets.ih": ["time_ah:tp,reg"],
                        "ares_eventlistitem_markets.boxing": ["wdw"],
                        "ares_eventlistitem_markets.mma": ["wdw"],
                        "general": {"container_opening_position": "nearClick", "price_type": "dec", "seen_messages": [null], "theme": "default", "show_essential_annoucements_only": false, "seen_tickers": {"1133": true, "1134": true, "1143": true, "1144": true, "1145": true, "1229": true, "1237": true, "1238": true}, "last_forced": 1574589701167, "kyc_level": 0, "auto_search_bind": false, "hide_username": false, "language": "en", "timezone": "Europe/Madrid", "hide_credit": false}, "terms": {"beta": 1558360721330, "terms": 1570209912613, "privacy": 1570209913173, "acceptable": 1558360743636}, "trade": {"bookie_tint": false, "can_see_trade": true, "toast_notifications": false, "unfaved": {"events": {}}, "show_max_price": true, "betbar": {"show_closed": false, "expanded": false, "height": 137, "show_only_brokerage": true}, "values_in_position_button": true, "bookie_logos": false, "always_show_balances": false, "prices_bookies": ["sing2", "spm", "isn", "pin88", "bdaq", "bf", "mbook", "sbo", "18bet", "3et"], "advanced_order_placement_options": true, "resizable_betslip": true, "toast_notifications_orders": false, "max_betslips": 8, "net_prices": false, "auto_add_bets_to_favs": false, "show_max_order": true, "show_expected_win": true, "first_trade_page_view": false, "default_price": null, "show_average_price": false, "max_order": null, "open_any_selection": false, "virtual_scrolling": false, "api_max_betslips": 8, "old_sport_selector": false, "equivalent_bets": true, "betslip_tint": true, "extra_edge_handicaps": false, "watched": {"competitions": {"ir": {"3": {"time": 1590063380118, "sport": "*"}, "4": {"time": 1590063380118, "sport": "*"}, "5": {"time": 1590063380118, "sport": "*"}, "6": {"time": 1590063380118, "sport": "*"}, "7": {"time": 1590063380118, "sport": "*"}, "10": {"time": 1590063380118, "sport": "*"}, "11": {"time": 1590063380119, "sport": "*"}, "13": {"time": 1590063380119, "sport": "fb"}, "19": {"time": 1590063380119, "sport": "*"}, "34": {"time": 1590063380119, "sport": "*"}, "37": {"time": 1590063380119, "sport": "fb"}, "38": {"time": 1590063380119, "sport": "*"}, "39": {"time": 1590063380119, "sport": "*"}, "40": {"time": 1590063380119, "sport": "*"}, "77": {"time": 1590063380119, "sport": "fb"}, "82": {"time": 1590063380119, "sport": "*"}, "85": {"time": 1590063380120, "sport": "*"}, "109": {"time": 1590063380120, "sport": "*"}, "116": {"time": 1590063380120, "sport": "fb"}, "117": {"time": 1590063380120, "sport": "*"}, "125": {"time": 1590063380120, "sport": "fb"}, "128": {"time": 1590063380120, "sport": "*"}, "131": {"time": 1590063380120, "sport": "*"}, "135": {"time": 1590063380120, "sport": "fb"}, "136": {"time": 1590063380120, "sport": "fb"}, "154": {"time": 1590063380121, "sport": "fb"}, "155": {"time": 1590063380121, "sport": "fb"}, "160": {"time": 1590063380121, "sport": "*"}, "166": {"time": 1590063380121, "sport": "*"}, "167": {"time": 1590063380121, "sport": "*"}, "196": {"time": 1590063380121, "sport": "*"}, "201": {"time": 1590063380121, "sport": "*"}, "202": {"time": 1590063380121, "sport": "*"}, "204": {"time": 1590063380121, "sport": "*"}, "206": {"time": 1590063380121, "sport": "*"}, "212": {"time": 1590063380121, "sport": "*"}, "215": {"time": 1590063380121, "sport": "*"}, "218": {"time": 1590063380121, "sport": "*"}, "231": {"time": 1590063380122, "sport": "*"}, "232": {"time": 1590063380122, "sport": "*"}, "237": {"time": 1590063380122, "sport": "*"}, "240": {"time": 1590063380122, "sport": "*"}, "245": {"time": 1590063380122, "sport": "*"}, "280": {"time": 1590063380122, "sport": "*"}, "468": {"time": 1590063380122, "sport": "*"}, "469": {"time": 1590063380122, "sport": "*"}, "475": {"time": 1590063380122, "sport": "*"}, "483": {"time": 1590063380122, "sport": "*"}, "497": {"time": 1590063380122, "sport": "*"}, "502": {"time": 1590063380122, "sport": "*"}, "506": {"time": 1590063380122, "sport": "*"}, "511": {"time": 1590063380122, "sport": "*"}, "573": {"time": 1590063380123, "sport": "fb"}, "579": {"time": 1590063380123, "sport": "*"}, "585": {"time": 1590063380123, "sport": "*"}, "616": {"time": 1590063380123, "sport": "*"}, "641": {"time": 1590063380123, "sport": "*"}, "695": {"time": 1590063380123, "sport": "*"}, "697": {"time": 1590063380123, "sport": "*"}, "698": {"time": 1590063380123, "sport": "*"}, "703": {"time": 1590063380123, "sport": "*"}, "1272": {"time": 1590063380123, "sport": "*"}, "1297": {"time": 1590063380123, "sport": "*"}, "1307": {"time": 1590063380123, "sport": "*"}, "2418": {"time": 1590063380123, "sport": "*"}, "2538": {"time": 1590063380123, "sport": "*"}, "2714": {"time": 1590063380123, "sport": "*"}, "6114": {"time": 1590063380123, "sport": "*"}, "6716": {"time": 1590063380124, "sport": "*"}, "10347": {"time": 1590063380124, "sport": "*"}, "12548": {"time": 1590063380124, "sport": "*"}, "15948": {"time": 1590063380124, "sport": "*"}, "23304": {"time": 1590063380124, "sport": "*"}, "24805": {"time": 1590063380124, "sport": "*"}, "60312": {"time": 1590063380124, "sport": "*"}, "62007": {"time": 1590063380124, "sport": "*"}, "62381": {"time": 1590063380124, "sport": "*"}, "63089": {"time": 1590063380124, "sport": "*"}, "10000341": {"time": 1590063380124, "sport": "*"}, "10000857": {"time": 1590063380124, "sport": "*"}, "10001260": {"time": 1590063380124, "sport": "*"}, "10001762": {"time": 1590063380125, "sport": "esports"}, "10001832": {"time": 1590063380125, "sport": "*"}}, "early": {"1": {"time": 1590063380125, "sport": "*"}, "3": {"time": 1590063380125, "sport": "*"}, "12": {"time": 1590063380125, "sport": "fb"}, "19": {"time": 1590063380125, "sport": "*"}, "82": {"time": 1590063380125, "sport": "*"}, "309": {"time": 1590063380125, "sport": "fb"}, "766": {"time": 1590063380125, "sport": "*"}, "796": {"time": 1590063380126, "sport": "fb"}, "1182": {"time": 1590063380126, "sport": "*"}, "1272": {"time": 1590063380126, "sport": "*"}, "1294": {"time": 1590063380126, "sport": "*"}, "21192": {"time": 1590063380126, "sport": "fb"}, "60672": {"time": 1590063380126, "sport": "*"}, "10001701": {"time": 1590063380126, "sport": "*"}, "10001757": {"time": 1590063380126, "sport": "esports"}, "10001762": {"time": 1590063380127, "sport": "esports"}}, "today": {"1": {"time": 1590063380127, "sport": "*"}, "2": {"time": 1590063380127, "sport": "*"}, "3": {"time": 1590063380127, "sport": "*"}, "4": {"time": 1590063380127, "sport": "*"}, "5": {"time": 1590063380127, "sport": "*"}, "6": {"time": 1590063380127, "sport": "*"}, "7": {"time": 1590063380127, "sport": "*"}, "8": {"time": 1590063380127, "sport": "*"}, "9": {"time": 1590063380127, "sport": "*"}, "10": {"time": 1590063380127, "sport": "*"}, "11": {"time": 1590063380127, "sport": "*"}, "12": {"time": 1590063380128, "sport": "fb"}, "13": {"time": 1590063380128, "sport": "fb"}, "16": {"time": 1590063380128, "sport": "*"}, "17": {"time": 1590063380128, "sport": "*"}, "19": {"time": 1590063380128, "sport": "*"}, "20": {"time": 1590063380128, "sport": "*"}, "34": {"time": 1590063380128, "sport": "*"}, "38": {"time": 1590063380128, "sport": "*"}, "39": {"time": 1590063380128, "sport": "*"}, "40": {"time": 1590063380128, "sport": "*"}, "45": {"time": 1590063380128, "sport": "fb"}, "77": {"time": 1590063380129, "sport": "fb"}, "81": {"time": 1590063380129, "sport": "*"}, "82": {"time": 1590063380129, "sport": "*"}, "85": {"time": 1590063380129, "sport": "*"}, "109": {"time": 1590063380129, "sport": "*"}, "116": {"time": 1590063380129, "sport": "fb"}, "117": {"time": 1590063380129, "sport": "*"}, "125": {"time": 1590063380129, "sport": "fb"}, "128": {"time": 1590063380130, "sport": "*"}, "130": {"time": 1590063380130, "sport": "*"}, "131": {"time": 1590063380130, "sport": "*"}, "132": {"time": 1590063380130, "sport": "*"}, "134": {"time": 1590063380130, "sport": "fb"}, "135": {"time": 1590063380130, "sport": "fb"}, "136": {"time": 1590063380130, "sport": "fb"}, "142": {"time": 1590063380130, "sport": "*"}, "154": {"time": 1590063380130, "sport": "fb"}, "155": {"time": 1590063380131, "sport": "fb"}, "160": {"time": 1590063380131, "sport": "*"}, "166": {"time": 1590063380131, "sport": "*"}, "167": {"time": 1590063380131, "sport": "*"}, "176": {"time": 1590063380131, "sport": "fb"}, "186": {"time": 1590063380131, "sport": "*"}, "189": {"time": 1590063380132, "sport": "fb"}, "196": {"time": 1590063380132, "sport": "*"}, "201": {"time": 1590063380132, "sport": "*"}, "202": {"time": 1590063380132, "sport": "*"}, "203": {"time": 1590063380132, "sport": "*"}, "204": {"time": 1590063380132, "sport": "*"}, "206": {"time": 1590063380132, "sport": "*"}, "218": {"time": 1590063380132, "sport": "*"}, "232": {"time": 1590063380132, "sport": "*"}, "237": {"time": 1590063380132, "sport": "*"}, "240": {"time": 1590063380132, "sport": "*"}, "245": {"time": 1590063380132, "sport": "*"}, "280": {"time": 1590063380132, "sport": "*"}, "296": {"time": 1590063380132, "sport": "*"}, "311": {"time": 1590063380133, "sport": "*"}, "468": {"time": 1590063380133, "sport": "*"}, "469": {"time": 1590063380133, "sport": "*"}, "475": {"time": 1590063380133, "sport": "*"}, "497": {"time": 1590063380133, "sport": "*"}, "498": {"time": 1590063380133, "sport": "*"}, "502": {"time": 1590063380133, "sport": "*"}, "506": {"time": 1590063380133, "sport": "*"}, "511": {"time": 1590063380133, "sport": "*"}, "579": {"time": 1590063380133, "sport": "*"}, "585": {"time": 1590063380133, "sport": "*"}, "623": {"time": 1590063380133, "sport": "*"}, "641": {"time": 1590063380133, "sport": "*"}, "642": {"time": 1590063380133, "sport": "*"}, "690": {"time": 1590063380133, "sport": "*"}, "695": {"time": 1590063380133, "sport": "*"}, "697": {"time": 1590063380134, "sport": "*"}, "698": {"time": 1590063380134, "sport": "*"}, "703": {"time": 1590063380134, "sport": "*"}, "727": {"time": 1590063380134, "sport": "*"}, "785": {"time": 1590063380134, "sport": "*"}, "979": {"time": 1590063380134, "sport": "*"}, "1176": {"time": 1590063380134, "sport": "*"}, "1272": {"time": 1590063380134, "sport": "*"}, "1297": {"time": 1590063380134, "sport": "*"}, "1307": {"time": 1590063380134, "sport": "*"}, "2418": {"time": 1590063380134, "sport": "*"}, "2538": {"time": 1590063380134, "sport": "*"}, "2714": {"time": 1590063380134, "sport": "*"}, "6114": {"time": 1590063380134, "sport": "*"}, "6716": {"time": 1590063380134, "sport": "*"}, "12548": {"time": 1590063380134, "sport": "*"}, "15948": {"time": 1590063380135, "sport": "*"}, "23304": {"time": 1590063380135, "sport": "*"}, "24805": {"time": 1590063380135, "sport": "*"}, "60312": {"time": 1590063380135, "sport": "*"}, "62007": {"time": 1590063380135, "sport": "*"}, "63089": {"time": 1590063380135, "sport": "*"}, "10000341": {"time": 1590063380135, "sport": "*"}, "10001762": {"time": 1590063380135, "sport": "esports"}, "10001832": {"time": 1590063380135, "sport": "*"}}}}, "hide_exchange_only_lines": false, "sort_events_by": "time", "can_change_credit_limits": "default", "extra_lines_on_expansion": 3, "confirm_bet": true, "virtual_scrolling_ctrl_f": false, "show_broker_info_text": true, "betslip_default_timeout": 10, "price_stream_batching": 125, "disabled_bookies": [], "ignore_system_maintenance": false, "focused_market": "today", "floating_asian_betslip": false, "show_min_price": false, "betslip_agent": false, "client_caching": false, "comp_bookie": "None", "is_hidden": {}, "sport": "fb", "autofill_middle_handicaps": true, "enabled_groups": {"mma": {"1_x2_ml": true, "asian_handicap": true, "ah": true, "ml": true, "ahou": true}, "ru": {"tpreg_asian_handicap": true, "time_ah:tp,reg": true, "time_win:tp,reg,wdw": true, "tpreg1_x2": true, "time_ah:tp,all": true, "tpall_asian_handicap": true}, "esports": {"tpall1_x2_ml": true, "tpall_asian_handicap": true, "tpall_asian_over_under": true}, "af": {"time_ahou:tp,reg": true, "tpreg_asian_handicap": true, "tpall_asian_over_under": true, "tpall1_x2_ml": true, "time_ah:tp,reg": true, "time_win:tp,reg,wdw": true, "time_win:tp,all,ml": true, "time_ahou:tp,all": true, "tpreg1_x2_ml": true, "tpreg1_x2": true, "time_ah:tp,all": true, "tpall_asian_handicap": true, "tpreg_asian_over_under": true, "time_win:tp,reg,ml": true}, "basket": {"1_x2_ml": true, "asian_handicap": true, "asian_over_under": true, "ah": true, "ml": true, "ahou": true}, "baseball": {"tpall_asian_over_under": true, "tpall1_x2_ml": true, "time_ah:thalf,1": false, "time_win:tp,reg,wdw": true, "time_win:tp,all,ml": true, "time_ahou:tp,all": true, "tpreg1_x2": true, "time_ah:tp,all": true, "tpall_asian_handicap": true}, "cricket": {"tpall1_x2_ml": true, "time_win:tp,reg,wdw": true, "time_win:tp,all,ml": true, "tpreg1_x2_ml": true, "tpreg1_x2": true, "time_ah:tp,all": true, "tpall_asian_handicap": true, "time_win:tp,reg,ml": true}, "arf": {"tpall_asian_handicap": true, "tpreg1_x2": true, "tpreg_asian_handicap": true}, "boxing": {"asian_over_under": true, "ah": true, "1_x2_ml": true, "wdw": true, "ahou": true, "asian_handicap": true, "ml": true}, "rl": {"time_ahou:tp,reg": true, "tpreg_asian_handicap": true, "tpall1_x2_ml": true, "time_ah:tp,reg": true, "time_win:tp,all,ml": true, "time_ahou:tp,all": true, "time_ah:tp,all": true, "tpall_asian_handicap": true}, "tennis": {"tennis_match:1": false, "tennis_match:2": false, "tennis_ah:4,game": false, "tennis_ah:3,game": false, "tennis_match:3": false, "tennis_ah:2,game": false, "tennis_match:4": false, "tennis_ah:1,game": false, "game_handicap": true, "tennis_ahou:all,game": true, "tennis_match:all": true, "tennis_ah:all,game": true, "p1v_p2": true, "set_handicap": true, "tennis_ahou:4,game": false, "tennis_ahou:3,game": false, "tennis_ahou:2,game": false, "tennis_ahou:1,game": false, "tennis_ah:all,set": true, "game_ahou": true}, "fb": {"score:h": false, "asian_over_under": true, "ah": false, "tahou:a": false, "score:both": false, "wdw": true, "ahou": false, "tahou:h": false, "cs": false, "score:a": false, "asian_handicap": true, "dc": false}, "fb_htft": {"htft_wdw": true}, "ih": {"time_ahou:tp,reg": true, "tpreg_asian_handicap": true, "tpall1_x2_ml": true, "time_ah:tp,reg": true, "time_win:tp,reg,wdw": true, "time_win:tperiod,1,wdw": true, "time_win:tperiod,2,wdw": false, "time_win:tperiod,3,wdw": false, "time_win:tp,all,ml": true, "time_ahou:tp,all": true, "tpreg1_x2": true, "time_ah:tperiod,1": false, "time_ah:tperiod,2": false, "time_ah:tperiod,3": false, "time_ah:tp,all": true, "tpreg_asian_over_under": true, "time_ahou:tperiod,1": false, "time_ahou:tperiod,2": false, "time_ahou:tperiod,3": false, "time_win:tp,reg,ml": true}}, "reselect_accounts": "always", "has_extras_expanded": {"2020-04-24,48562,838": {"sport": "fb"}, "2020-05-09,10025373,10025869": {"sport": "esports"}}, "multiple_accounts": false, "side": {"tab": "competitions", "open": false}, "wait_for_pmms": 0, "multiple_handicap_lines": false, "side_subsections": {"show_bet_types": true, "show_trade_visuals": true, "show_default_inputs": true, "show_betslip_visuals": true, "show_betting_behaviour": true, "show_sounds_notifications": true}, "pmm_stream_batching": 125, "allow_put_offer_on_exchange": true, "play_sounds": false, "hide_favs_competitions_headers": false, "expanded": {"main": {"markets": {"favs": false, "ir": true, "early": false, "today": false}}, "side": {"markets": {"favs": true, "ir": true, "early": false, "today": false}}}, "default_stake": null, "can_place_bets": false, "show_min_order": true, "faved": {"events": {}, "competitions": {"1": true, "12": true, "16": true, "19": true, "38": true, "193": true, "10001419": true}}, "vertical_betslip": true, "virtual_scrolling_overscan": 25, "min_order": 0, "use_suggested": true, "can_create_transfers": "default", "advanced_betslip_info": true, "play_sounds_orders": true, "show_overround": false, "user_trade_view": "default", "always_expand_all_markets": false, "trade_tint": true, "simple_betslip": false, "agent_position_grids": true}, "announcements": {"ibc_sbo": 1568886318894, "advanced_placement": 1564140829723, "sportmarket_new_terms": 1570212490517}, "history": {"bets": {"last_query": "#q=f:bookie_date_day:ge:2020-02-10/f:bookie_date_day:le:2020-02-16&ts=1582039999129"}, "orders": {"last_query": ""}, "dashboard": {"last_query": "#q=a:customer_ccy/a:event_date_month/a:market_type/a:system/a:competition/hv:customer_turnover/a:event/a:event_date_day/f:bookie_date_day:ge:2020-04-06&t=10000"}}, "can_see_trade": true, "can_place_bets": false, "comp_bookie": "None", "max_order": null, "equivalent_bets": true, "timezone": "Europe/Madrid", "allow_put_offer_on_exchange": true, "reselect_accounts": "always", "can_change_net_prices": "false", "agent_create_users": false, "credit_hidden": false, "net_prices": false, "extra_handicap_lines": false, "always_show_balances": false, "can_change_credit_limits": "default", "can_create_transfers": "default", "multiple_logins": false, "api_max_betslips": 8}, "switches": {"change_settings_tab": false, "newinterface": false, "multipleAccounts": false, "cashout": false, "lognoice": false, "results": true, "whitelabelUser": false, "showInternalInfo": false, "delete_me_history_from_api": true, "position_from_api": true, "translatedBetTypes": false, "new_whitelabel_acl": true, "betbarFromAPI": true, "api-tgtbt": false, "real_time_accounting": false, "api-geoip-insights": false, "showBetslipAccountProblems": false, "netPositionGrids": false, "hideSettings": false, "parlay": false, "activePositions": true, "useUIBetTypeDescriptions": false, "noBrokerageRestrictions": false, "agentGroupTags": false, "custserv-epg-payments": false, "customer_services_ui": false, "orderLogs": true, "exchangeRates": false, "api-detailed-logging": false, "api-check-market-price": false, "bookieLogos": false, "advancedTradeSettings": false}, "customer_data": {"id": 26289, "username": "demo26", "name": "demo26", "group_id": 1155, "ccy_code": "EUR", "config": {"login": true, "agent": false, "master_agent": false, "sudo": false, "create_users": false, "spy_on_group": false, "see_bookies": true, "see_accounts": false, "web_place_bets": false}, "preferences": {"max_order": null, "bookie_min_balances": {}}, "locked": false, "credit_limit": ["EUR", 0.0], "expires_at": "2020-05-24T00:00:00+01:00", "commission_rate": null}, "bookie_accounts": [{"id": 279263, "bookie": "sing2", "username": "_65b9da8d_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 279264, "bookie": "sing2", "username": "_2f5c4b51_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 279265, "bookie": "sing2", "username": "_eef9bf15_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 279266, "bookie": "sing2", "username": "_a5005a94_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 279267, "bookie": "sing2", "username": "_bc01362b_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 279268, "bookie": "sing2", "username": "_fd6721ba_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 279269, "bookie": "sing2", "username": "_9e7c9dd0_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 279270, "bookie": "sing2", "username": "_1340f29c_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 279271, "bookie": "sing2", "username": "_ef503af1_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 279272, "bookie": "sing2", "username": "_80eb106c_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 280460, "bookie": "spm", "username": "_06ef0f47_", "max_bet": null, "price_scheme": "EURO", "ccy_code": "EUR", "enabled": true}, {"id": 281283, "bookie": "sing2", "username": "_b7c57ee5_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 293691, "bookie": "pin88", "username": "_680d9d22_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 293694, "bookie": "pin88", "username": "_001d03b0_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 293695, "bookie": "pin88", "username": "_a1692c33_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 293696, "bookie": "pin88", "username": "_af8449fe_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281988, "bookie": "sing2", "username": "_b75b2d9c_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281989, "bookie": "sing2", "username": "_f7aab6e4_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281990, "bookie": "sing2", "username": "_8784226b_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281991, "bookie": "sing2", "username": "_eef90e10_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281992, "bookie": "sing2", "username": "_aa8b9e48_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281993, "bookie": "sing2", "username": "_ff10862b_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281994, "bookie": "sing2", "username": "_8f168f84_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281995, "bookie": "sing2", "username": "_f920d6ec_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281996, "bookie": "sing2", "username": "_de7ed0de_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 281997, "bookie": "sing2", "username": "_c3fc5e12_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 293830, "bookie": "sing2", "username": "_cc4b3396_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 293831, "bookie": "sing2", "username": "_90de5d13_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 249720, "bookie": "broker7", "username": "_283f4853_", "max_bet": null, "price_scheme": "EURO", "ccy_code": "EUR", "enabled": true}, {"id": 282785, "bookie": "isn", "username": "_5feee9cf_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282786, "bookie": "isn", "username": "_ac59e740_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282799, "bookie": "isn", "username": "_adfb6526_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282804, "bookie": "isn", "username": "_299e1d55_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282797, "bookie": "isn", "username": "_c7105a90_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282798, "bookie": "isn", "username": "_14e07e6d_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282800, "bookie": "isn", "username": "_840814d1_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282803, "bookie": "isn", "username": "_47549681_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282810, "bookie": "isn", "username": "_aaf1f46b_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282811, "bookie": "isn", "username": "_dc9930a0_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282812, "bookie": "isn", "username": "_0d97b965_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282813, "bookie": "isn", "username": "_5c2c858c_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282814, "bookie": "isn", "username": "_852bf356_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282815, "bookie": "isn", "username": "_1d760870_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282816, "bookie": "isn", "username": "_d71a0b92_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282817, "bookie": "isn", "username": "_66e887f7_", "max_bet": null, "price_scheme": "HK", "ccy_code": "EUR", "enabled": true}, {"id": 282818, "bookie": "isn", "username": "_7a35625f_", "max_bet": null, "price_scheme": "HK
[...]
